In [1]:
import pandas as pd
import glob
import os

In [2]:
reports_csv_files = glob.glob("data/raw/data/*.csv") 
print("Reports", reports_csv_files)

Reports ['data/raw/data\\2015.csv', 'data/raw/data\\2016.csv', 'data/raw/data\\2017.csv', 'data/raw/data\\2018.csv', 'data/raw/data\\2019.csv']

In [3]:
dfs = []
for file in reports_csv_files:
    year = os.path.basename(file).split('.')[0]
    print('year',year)
    df_year = pd.read_csv(file)
    df_year['year'] = year
    dfs.append(df_year)
df = pd.concat(dfs, ignore_index=True)

year 2015
year 2016
year 2017
year 2018
year 2019

In [4]:
df.tail()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),...,Trust..Government.Corruption.,Dystopia.Residual,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption
777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,152.0,Rwanda,3.334,0.359,0.711,0.614,0.555,0.411
778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,153.0,Tanzania,3.231,0.476,0.885,0.499,0.417,0.147
779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,154.0,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.025
780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,155.0,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.035
781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,156.0,South Sudan,2.853,0.306,0.575,0.295,0.010,0.091

In [44]:
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),...,Trust..Government.Corruption.,Dystopia.Residual,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption
0,Switzerland,Western Europe,1.0,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iceland,Western Europe,2.0,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Denmark,Western Europe,3.0,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Norway,Western Europe,4.0,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Canada,North America,5.0,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,152.0,Rwanda,3.334,0.359,0.711,0.614,0.555,0.411
778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,153.0,Tanzania,3.231,0.476,0.885,0.499,0.417,0.147
779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,154.0,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.025
780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,155.0,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.035
781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,156.0,South Sudan,2.853,0.306,0.575,0.295,0.010,0.091

In [5]:
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),...,Trust..Government.Corruption.,Dystopia.Residual,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption
0,Switzerland,Western Europe,1.0,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iceland,Western Europe,2.0,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Denmark,Western Europe,3.0,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Norway,Western Europe,4.0,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Canada,North America,5.0,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.shape

(782, 31)

In [8]:
df.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual', 'year', 'Lower Confidence Interval',
       'Upper Confidence Interval', 'Happiness.Rank', 'Happiness.Score',
       'Whisker.high', 'Whisker.low', 'Economy..GDP.per.Capita.',
       'Health..Life.Expectancy.', 'Trust..Government.Corruption.',
       'Dystopia.Residual', 'Overall rank', 'Country or region', 'Score',
       'GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Perceptions of corruption'],
      dtype='object')

In [9]:
df.describe()

,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,...,Health..Life.Expectancy.,Trust..Government.Corruption.,Dystopia.Residual,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption
count,315.000000,315.000000,158.000000,315.000000,470.000000,315.000000,470.000000,315.000000,782.000000,315.000000,...,155.000000,155.000000,155.000000,312.000000,312.000000,312.000000,312.000000,312.000000,312.000000,311.000000
mean,79.238095,5.378949,0.047885,0.899837,0.990347,0.594054,0.402828,0.140532,0.218576,2.212032,...,0.551341,0.123120,1.850238,78.500000,5.391506,0.898298,1.211026,0.661295,0.423538,0.111299
std,45.538922,1.141531,0.017146,0.410780,0.318707,0.240790,0.150356,0.115490,0.122321,0.558728,...,0.237073,0.101661,0.500028,45.104737,1.114631,0.394592,0.300310,0.252724,0.156024,0.095365
min,1.000000,2.839000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580,...,0.000000,0.000000,0.377914,1.000000,2.853000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,40.000000,4.510000,0.037268,0.594900,0.793000,0.419645,0.297615,0.061315,0.130000,1.884135,...,0.369866,0.057271,1.591291,39.750000,4.514250,0.609500,1.055750,0.488250,0.322500,0.050000
50%,79.000000,5.286000,0.043940,0.973060,1.025665,0.640450,0.418347,0.106130,0.201982,2.211260,...,0.606042,0.089848,1.832910,78.500000,5.379500,0.960000,1.265500,0.699000,0.449500,0.082000
75%,118.500000,6.269000,0.052300,1.229000,1.228745,0.787640,0.516850,0.178610,0.278832,2.563470,...,0.723008,0.153296,2.144654,117.250000,6.176000,1.219500,1.457500,0.858000,0.540250,0.140500
max,158.000000,7.587000,0.136930,1.824270,1.610574,1.025250,0.669730,0.551910,0.838075,3.837720,...,0.949492,0.464308,3.117485,156.000000,7.769000,2.096000,1.644000,1.141000,0.724000,0.457000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        470 non-null    object
 1   Region                         315 non-null    object
 2   Happiness Rank                 315 non-null    float64
 3   Happiness Score                315 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       315 non-null    float64
 6   Family                         470 non-null    float64
 7   Health (Life Expectancy)       315 non-null    float64
 8   Freedom                        470 non-null    float64
 9   Trust (Government Corruption)  315 non-null    float64
 10  Generosity                     782 non-null    float64
 11  Dystopia Residual              315 non-null    float64
 12  year                           782 non-null    object
 13  Lower Confidence Interval      157 non-null    float64
 14  Upper Confidence Interval      157 non-null    float64
 15  Happiness.Rank                 155 non-null    float64
 16  Happiness.Score                155 non-null    float64
 17  Whisker.high                   155 non-null    float64
 18  Whisker.low                    155 non-null    float64
 19  Economy..GDP.per.Capita.       155 non-null    float64
 20  Health..Life.Expectancy.       155 non-null    float64
 21  Trust..Government.Corruption.  155 non-null    float64
 22  Dystopia.Residual              155 non-null    float64
 23  Overall rank                   312 non-null    float64
 24  Country or region              312 non-null    object
 25  Score                          312 non-null    float64
 26  GDP per capita                 312 non-null    float64
 27  Social support                 312 non-null    float64
 28  Healthy life expectancy        312 non-null    float64
 29  Freedom to make life choices   312 non-null    float64
 30  Perceptions of corruption      311 non-null    float64
dtypes: float64(27), object(4)
memory usage: 189.5+ KB

In [11]:
df.isnull()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),...,Trust..Government.Corruption.,Dystopia.Residual,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption
0,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,True,True,True,True,True,True,True,True,True,True,...,True,True,False,False,False,False,False,False,False,False
778,True,True,True,True,True,True,True,True,True,True,...,True,True,False,False,False,False,False,False,False,False
779,True,True,True,True,True,True,True,True,True,True,...,True,True,False,False,False,False,False,False,False,False
780,True,True,True,True,True,True,True,True,True,True,...,True,True,False,False,False,False,False,False,False,False
781,True,True,True,True,True,True,True,True,True,True,...,True,True,False,False,False,False,False,False,False,False

In [12]:
df.isnull().sum()

Country                          312
Region                           467
Happiness Rank                   467
Happiness Score                  467
Standard Error                   624
Economy (GDP per Capita)         467
Family                           312
Health (Life Expectancy)         467
Freedom                          312
Trust (Government Corruption)    467
Generosity                         0
Dystopia Residual                467
year                               0
Lower Confidence Interval        625
Upper Confidence Interval        625
Happiness.Rank                   627
Happiness.Score                  627
Whisker.high                     627
Whisker.low                      627
Economy..GDP.per.Capita.         627
Health..Life.Expectancy.         627
Trust..Government.Corruption.    627
Dystopia.Residual                627
Overall rank                     470
Country or region                470
Score                            470
GDP per capita                   470
Social support                   470
Healthy life expectancy          470
Freedom to make life choices     470
Perceptions of corruption        471
dtype: int64

In [13]:
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),...,Trust..Government.Corruption.,Dystopia.Residual,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption
0,Switzerland,Western Europe,1.0,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iceland,Western Europe,2.0,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Denmark,Western Europe,3.0,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Norway,Western Europe,4.0,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Canada,North America,5.0,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:

# Sample list of original columns
original_columns = [
    'Country', 'Region', 'Happiness Rank', 'Happiness Score',
    'Standard Error', 'Economy (GDP per Capita)', 'Family',
    'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
    'Generosity', 'Dystopia Residual', 'year', 'Lower Confidence Interval',
    'Upper Confidence Interval', 'Happiness.Rank', 'Happiness.Score',
    'Whisker.high', 'Whisker.low', 'Economy..GDP.per.Capita.',
    'Health..Life.Expectancy.', 'Trust..Government.Corruption.',
    'Dystopia.Residual', 'Overall rank', 'Country or region', 'Score',
    'GDP per capita', 'Social support', 'Healthy life expectancy',
    'Freedom to make life choices', 'Perceptions of corruption'
]

In [5]:
# Canonical mapping dictionary
canonical_map = {
    'Country': 'country',
    'Country or region': 'country',
    'Region': 'region',
    'Happiness Rank': 'happiness_rank',
    'Overall rank': 'happiness_rank',
    'Happiness Score': 'happiness_score',
    'Happiness.Score': 'happiness_score',
    'Score': 'happiness_score',
    'Standard Error': 'standard_error',
    'Economy (GDP per Capita)': 'log_gdp_per_capita',
    'Economy..GDP.per.Capita.': 'log_gdp_per_capita',
    'GDP per capita': 'log_gdp_per_capita',
    'Family': 'family',
    'Social support': 'social_support',
    'Health (Life Expectancy)': 'healthy_life_expectancy',
    'Health..Life.Expectancy.': 'healthy_life_expectancy',
    'Healthy life expectancy': 'healthy_life_expectancy',
    'Freedom': 'freedom',
    'Freedom to make life choices': 'freedom',
    'Trust (Government Corruption)': 'perceptions_of_corruption',
    'Trust..Government.Corruption.': 'perceptions_of_corruption',
    'Perceptions of corruption': 'perceptions_of_corruption',
    'Generosity': 'generosity',
    'Dystopia Residual': 'dystopia_residual',
    'Dystopia.Residual': 'dystopia_residual',
    'Whisker.high': 'whisker_high',
    'Whisker.low': 'whisker_low',
    'Lower Confidence Interval': 'lower_confidence_interval',
    'Upper Confidence Interval': 'upper_confidence_interval',
    'year': 'year'
}

In [6]:
def standardize_column_names(df):
    return df.rename(columns=lambda col:canonical_map.get(col, col.strip().lower().replace(" ", "_").replace(".","_")))

In [7]:
df_modified = standardize_column_names(df)

In [10]:
df_modified.head()

,country,region,happiness_rank,happiness_score,standard_error,log_gdp_per_capita,family,healthy_life_expectancy,freedom,perceptions_of_corruption,...,perceptions_of_corruption,dystopia_residual,happiness_rank,country,happiness_score,log_gdp_per_capita,social_support,healthy_life_expectancy,freedom,perceptions_of_corruption
0,Switzerland,Western Europe,1.0,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iceland,Western Europe,2.0,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Denmark,Western Europe,3.0,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Norway,Western Europe,4.0,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Canada,North America,5.0,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df_modified

,country,region,happiness_rank,standard_error,log_gdp_per_capita,family,healthy_life_expectancy,freedom,perceptions_of_corruption,generosity,...,perceptions_of_corruption,dystopia_residual,happiness_rank,country,log_gdp_per_capita,social_support,healthy_life_expectancy,freedom,perceptions_of_corruption,happiness_score
0,Switzerland,Western Europe,1.0,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,...,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,7.587
1,Iceland,Western Europe,2.0,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,...,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,7.561
2,Denmark,Western Europe,3.0,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,...,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,7.527
3,Norway,Western Europe,4.0,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,...,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,7.522
4,Canada,North America,5.0,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,...,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,7.427
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.21700,...,NaN,NaN,152.0,Rwanda,0.359,0.711,0.614,0.555,0.411,3.334
778,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.27600,...,NaN,NaN,153.0,Tanzania,0.476,0.885,0.499,0.417,0.147,3.231
779,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.15800,...,NaN,NaN,154.0,Afghanistan,0.350,0.517,0.361,0.000,0.025,3.203
780,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.23500,...,NaN,NaN,155.0,Central African Republic,0.026,0.000,0.105,0.225,0.035,3.083
781,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.20200,...,NaN,NaN,156.0,South Sudan,0.306,0.575,0.295,0.010,0.091,2.853

In [8]:
happiness_score_cols = [col for col in df_modified.columns if col == 'happiness_score']

if len(happiness_score_cols) > 1:
    df_modified['happiness_score_merged'] = df_modified[happiness_score_cols].bfill(axis=1).iloc[:,0]
    df_modified = df_modified.drop(columns=happiness_score_cols)
    df_modified = df_modified.rename(columns={'happiness_score_merged': 'happiness_score'})

In [11]:
df_modified['happiness_score']

0      7.587
1      7.561
2      7.527
3      7.522
4      7.427
       ...
777    3.334
778    3.231
779    3.203
780    3.083
781    2.853
Name: happiness_score, Length: 782, dtype: float64

In [13]:
df_modified

,country,region,happiness_rank,standard_error,log_gdp_per_capita,family,healthy_life_expectancy,freedom,perceptions_of_corruption,generosity,...,perceptions_of_corruption,dystopia_residual,happiness_rank,country,log_gdp_per_capita,social_support,healthy_life_expectancy,freedom,perceptions_of_corruption,happiness_score
0,Switzerland,Western Europe,1.0,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,...,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,7.587
1,Iceland,Western Europe,2.0,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,...,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,7.561
2,Denmark,Western Europe,3.0,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,...,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,7.527
3,Norway,Western Europe,4.0,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,...,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,7.522
4,Canada,North America,5.0,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,...,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,7.427
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.21700,...,NaN,NaN,152.0,Rwanda,0.359,0.711,0.614,0.555,0.411,3.334
778,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.27600,...,NaN,NaN,153.0,Tanzania,0.476,0.885,0.499,0.417,0.147,3.231
779,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.15800,...,NaN,NaN,154.0,Afghanistan,0.350,0.517,0.361,0.000,0.025,3.203
780,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.23500,...,NaN,NaN,155.0,Central African Republic,0.026,0.000,0.105,0.225,0.035,3.083
781,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.20200,...,NaN,NaN,156.0,South Sudan,0.306,0.575,0.295,0.010,0.091,2.853

In [14]:
df_modified.columns

Index(['country', 'region', 'happiness_rank', 'standard_error',
       'log_gdp_per_capita', 'family', 'healthy_life_expectancy', 'freedom',
       'perceptions_of_corruption', 'generosity', 'dystopia_residual', 'year',
       'lower_confidence_interval', 'upper_confidence_interval',
       'happiness_rank', 'whisker_high', 'whisker_low', 'log_gdp_per_capita',
       'healthy_life_expectancy', 'perceptions_of_corruption',
       'dystopia_residual', 'happiness_rank', 'country', 'log_gdp_per_capita',
       'social_support', 'healthy_life_expectancy', 'freedom',
       'perceptions_of_corruption', 'happiness_score'],
      dtype='object')

In [19]:
df_modified.columns[df_modified.columns.duplicated()]

Index(['happiness_rank', 'log_gdp_per_capita', 'healthy_life_expectancy',
       'perceptions_of_corruption', 'dystopia_residual', 'happiness_rank',
       'country', 'log_gdp_per_capita', 'healthy_life_expectancy', 'freedom',
       'perceptions_of_corruption'],
      dtype='object')

In [69]:
happiness_rank_cols = [col for col in df_modified.columns if col == 'happiness_rank']

In [22]:
happiness_rank_cols

['happiness_rank', 'happiness_rank', 'happiness_rank']

In [23]:
df_modified['happiness_rank']

     happiness_rank  happiness_rank  happiness_rank
0               1.0             NaN             NaN
1               2.0             NaN             NaN
2               3.0             NaN             NaN
3               4.0             NaN             NaN
4               5.0             NaN             NaN
..              ...             ...             ...
777             NaN             NaN           152.0
778             NaN             NaN           153.0
779             NaN             NaN           154.0
780             NaN             NaN           155.0
781             NaN             NaN           156.0

[782 rows x 3 columns]

In [9]:
happiness_rank_cols = [col for col in df_modified.columns if col == 'happiness_rank']
df_modified['happiness_rank_merged'] = df_modified[happiness_rank_cols].bfill(axis=1).iloc[:,0]

In [10]:
df_modified = df_modified.drop(columns=happiness_rank_cols)

In [11]:
df_modified = df_modified.rename(columns={"happiness_rank_merged":"happiness_rank"})

In [55]:
df_modified['country'] == 'Findland'

0      False
1      False
2      False
3      False
4      False
       ...
777    False
778    False
779    False
780    False
781    False
Name: country, Length: 782, dtype: bool

In [36]:
df_modified['log_gdp_per_capita']

     log_gdp_per_capita  log_gdp_per_capita  log_gdp_per_capita
0               1.39651                 NaN                 NaN
1               1.30232                 NaN                 NaN
2               1.32548                 NaN                 NaN
3               1.45900                 NaN                 NaN
4               1.32629                 NaN                 NaN
..                  ...                 ...                 ...
777                 NaN                 NaN               0.359
778                 NaN                 NaN               0.476
779                 NaN                 NaN               0.350
780                 NaN                 NaN               0.026
781                 NaN                 NaN               0.306

[782 rows x 3 columns]

In [12]:
log_gdp_per_capita_cols= [col for col in df_modified.columns if col == 'log_gdp_per_capita']

if len(log_gdp_per_capita_cols) > 1:
    df_modified['log_gdp_per_capita_merged'] = df_modified[log_gdp_per_capita_cols].bfill(axis=1).iloc[:,0]
    df_modified = df_modified.drop(columns=log_gdp_per_capita_cols)
    df_modified = df_modified.rename(columns={'log_gdp_per_capita_merged': 'log_gdp_per_capita'})

In [40]:
df_modified['healthy_life_expectancy']

     healthy_life_expectancy  healthy_life_expectancy  healthy_life_expectancy
0                    0.94143                      NaN                      NaN
1                    0.94784                      NaN                      NaN
2                    0.87464                      NaN                      NaN
3                    0.88521                      NaN                      NaN
4                    0.90563                      NaN                      NaN
..                       ...                      ...                      ...
777                      NaN                      NaN                    0.614
778                      NaN                      NaN                    0.499
779                      NaN                      NaN                    0.361
780                      NaN                      NaN                    0.105
781                      NaN                      NaN                    0.295

[782 rows x 3 columns]

In [13]:
healthy_life_expectancy_cols= [col for col in df_modified.columns if col == 'healthy_life_expectancy']

if len(healthy_life_expectancy_cols) > 1:
    df_modified['healthy_life_expectancy_merged'] = df_modified[healthy_life_expectancy_cols].bfill(axis=1).iloc[:,0]
    df_modified = df_modified.drop(columns=healthy_life_expectancy_cols)
    df_modified = df_modified.rename(columns={'healthy_life_expectancy_merged': 'healthy_life_expectancy'})

In [14]:
df_modified['perceptions_of_corruption']

,perceptions_of_corruption,perceptions_of_corruption,perceptions_of_corruption
0,0.41978,NaN,NaN
1,0.14145,NaN,NaN
2,0.48357,NaN,NaN
3,0.36503,NaN,NaN
4,0.32957,NaN,NaN
...,...,...,...
777,NaN,NaN,0.411
778,NaN,NaN,0.147
779,NaN,NaN,0.025
780,NaN,NaN,0.035
781,NaN,NaN,0.091

In [14]:
perceptions_of_corruption_cols = [col for col in df_modified.columns if col == 'perceptions_of_corruption']

if len(perceptions_of_corruption_cols) > 1:
    df_modified['perceptions_of_corruption_merged'] = df_modified[perceptions_of_corruption_cols].bfill(axis=1).iloc[:, 0]
    df_modified = df_modified.drop(columns=perceptions_of_corruption_cols)
    df_modified = df_modified.rename(columns={'perceptions_of_corruption_merged': 'perceptions_of_corruption'})

In [46]:
df_modified['dystopia_residual']

     dystopia_residual  dystopia_residual
0              2.51738                NaN
1              2.70201                NaN
2              2.49204                NaN
3              2.46531                NaN
4              2.45176                NaN
..                 ...                ...
777                NaN                NaN
778                NaN                NaN
779                NaN                NaN
780                NaN                NaN
781                NaN                NaN

[782 rows x 2 columns]

In [15]:
dystopia_residual_cols = [col for col in df_modified.columns if col == 'dystopia_residual']

if len(dystopia_residual_cols) > 1:
    df_modified['dystopia_residual_merged'] = df_modified[dystopia_residual_cols].bfill(axis=1).iloc[:, 0]
    df_modified = df_modified.drop(columns=dystopia_residual_cols)
    df_modified = df_modified.rename(columns={'dystopia_residual_merged': 'dystopia_residual'})

In [49]:
df_modified['country']

         country                   country
0    Switzerland
1        Iceland
2        Denmark
3         Norway
4         Canada
..           ...                       ...
777                                 Rwanda
778                               Tanzania
779                            Afghanistan
780               Central African Republic
781                            South Sudan

[782 rows x 2 columns]

In [16]:
country_cols = [col for col in df_modified.columns if col == 'country']

if len(country_cols) > 1:
    df_modified['country_merged'] = df_modified[country_cols].bfill(axis=1).iloc[:, 0]
    df_modified = df_modified.drop(columns=country_cols)
    df_modified = df_modified.rename(columns={'country_merged': 'country'})

In [56]:
df_modified['country']

0      Switzerland
1          Iceland
2          Denmark
3           Norway
4           Canada
          ...
777
778
779
780
781
Name: country, Length: 782, dtype: object

In [59]:
'South Sudan' in df_modified['country'].values

True

In [60]:
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),...,Trust..Government.Corruption.,Dystopia.Residual,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption
0,Switzerland,Western Europe,1.0,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iceland,Western Europe,2.0,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Denmark,Western Europe,3.0,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Norway,Western Europe,4.0,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Canada,North America,5.0,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,152.0,Rwanda,3.334,0.359,0.711,0.614,0.555,0.411
778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,153.0,Tanzania,3.231,0.476,0.885,0.499,0.417,0.147
779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,154.0,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.025
780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,155.0,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.035
781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,156.0,South Sudan,2.853,0.306,0.575,0.295,0.010,0.091

In [78]:
df_modified['country']

0                   Switzerland
1                       Iceland
2                       Denmark
3                        Norway
4                        Canada
                 ...
777                      Rwanda
778                    Tanzania
779                 Afghanistan
780    Central African Republic
781                 South Sudan
Name: country, Length: 782, dtype: object

In [79]:
df_modified['freedom']

     freedom  freedom
0    0.66557      NaN
1    0.62877      NaN
2    0.64938      NaN
3    0.66973      NaN
4    0.63297      NaN
..       ...      ...
777      NaN    0.555
778      NaN    0.417
779      NaN    0.000
780      NaN    0.225
781      NaN    0.010

[782 rows x 2 columns]

In [17]:
freedom_cols = [col for col in df_modified.columns if col == 'freedom']

if len(freedom_cols) > 1:
    df_modified['freedom_merged'] = df_modified[freedom_cols].bfill(axis=1).iloc[:, 0]
    df_modified = df_modified.drop(columns=freedom_cols)
    df_modified = df_modified.rename(columns={'freedom_merged': 'freedom'})

In [19]:
df_modified

,region,standard_error,family,generosity,year,lower_confidence_interval,upper_confidence_interval,whisker_high,whisker_low,social_support,happiness_score,happiness_rank,log_gdp_per_capita,healthy_life_expectancy,perceptions_of_corruption,dystopia_residual,country,freedom
0,Western Europe,0.03411,1.34951,0.29678,2015,NaN,NaN,NaN,NaN,NaN,7.587,1.0,1.39651,0.94143,0.41978,2.51738,Switzerland,0.66557
1,Western Europe,0.04884,1.40223,0.43630,2015,NaN,NaN,NaN,NaN,NaN,7.561,2.0,1.30232,0.94784,0.14145,2.70201,Iceland,0.62877
2,Western Europe,0.03328,1.36058,0.34139,2015,NaN,NaN,NaN,NaN,NaN,7.527,3.0,1.32548,0.87464,0.48357,2.49204,Denmark,0.64938
3,Western Europe,0.03880,1.33095,0.34699,2015,NaN,NaN,NaN,NaN,NaN,7.522,4.0,1.45900,0.88521,0.36503,2.46531,Norway,0.66973
4,North America,0.03553,1.32261,0.45811,2015,NaN,NaN,NaN,NaN,NaN,7.427,5.0,1.32629,0.90563,0.32957,2.45176,Canada,0.63297
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,NaN,NaN,NaN,0.21700,2019,NaN,NaN,NaN,NaN,0.711,3.334,152.0,0.35900,0.61400,0.41100,NaN,Rwanda,0.55500
778,NaN,NaN,NaN,0.27600,2019,NaN,NaN,NaN,NaN,0.885,3.231,153.0,0.47600,0.49900,0.14700,NaN,Tanzania,0.41700
779,NaN,NaN,NaN,0.15800,2019,NaN,NaN,NaN,NaN,0.517,3.203,154.0,0.35000,0.36100,0.02500,NaN,Afghanistan,0.00000
780,NaN,NaN,NaN,0.23500,2019,NaN,NaN,NaN,NaN,0.000,3.083,155.0,0.02600,0.10500,0.03500,NaN,Central African Republic,0.22500
781,NaN,NaN,NaN,0.20200,2019,NaN,NaN,NaN,NaN,0.575,2.853,156.0,0.30600,0.29500,0.09100,NaN,South Sudan,0.01000

In [22]:
df_modified.columns[df_modified.columns.duplicated()]

Index([], dtype='object')

In [28]:
'Pakistan' in df_modified['country'].values

False

In [46]:
df_modified[df_modified['country'] == 'Pakistan']

,region,standard_error,family,generosity,year,lower_confidence_interval,upper_confidence_interval,whisker_high,whisker_low,social_support,happiness_score,happiness_rank,log_gdp_per_capita,healthy_life_expectancy,perceptions_of_corruption,dystopia_residual,country,freedom
80,Southern Asia,0.03726,0.414110,0.336710,2015,NaN,NaN,NaN,NaN,NaN,5.194,81.0,0.595430,0.514660,0.104640,3.107090,Pakistan,0.121020
249,Southern Asia,NaN,0.261350,0.311850,2016,5.038,5.226,NaN,NaN,NaN,5.132,92.0,0.688160,0.403060,0.138800,3.182860,Pakistan,0.146220
394,NaN,NaN,0.672691,0.315446,2017,NaN,NaN,5.359984,5.178016,NaN,5.269,80.0,0.726884,0.402048,0.124348,2.792489,Pakistan,0.235215
544,NaN,NaN,NaN,0.216000,2018,NaN,NaN,NaN,NaN,0.810,5.472,75.0,0.652000,0.424000,0.113000,NaN,Pakistan,0.334000
692,NaN,NaN,NaN,0.220000,2019,NaN,NaN,NaN,NaN,0.886,5.653,67.0,0.677000,0.535000,0.098000,NaN,Pakistan,0.313000

In [18]:
 str_cols = df_modified.select_dtypes(include="object").columns

In [19]:
for col in str_cols:
    df_modified[col] = df_modified[col].astype(str).replace({"nan":"", "None":""})

In [56]:
df_modified[df_modified['country'] == ""]

Empty DataFrame
Columns: [region, standard_error, family, generosity, year, lower_confidence_interval, upper_confidence_interval, whisker_high, whisker_low, social_support, happiness_score, happiness_rank, log_gdp_per_capita, healthy_life_expectancy, perceptions_of_corruption, dystopia_residual, country, freedom]
Index: []

In [20]:
# Convert numeric-ish columns robustly
numeric_cols = df_modified.select_dtypes(include="float").columns

In [21]:
for col in numeric_cols:
    df_modified[col] = pd.to_numeric(df_modified[col], errors="coerce")

In [71]:
df_modified.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   region                     782 non-null    object
 1   standard_error             158 non-null    float64
 2   family                     470 non-null    float64
 3   generosity                 782 non-null    float64
 4   year                       782 non-null    Int64
 5   lower_confidence_interval  157 non-null    float64
 6   upper_confidence_interval  157 non-null    float64
 7   whisker_high               155 non-null    float64
 8   whisker_low                155 non-null    float64
 9   social_support             312 non-null    float64
 10  happiness_score            782 non-null    float64
 11  happiness_rank             782 non-null    float64
 12  log_gdp_per_capita         782 non-null    float64
 13  healthy_life_expectancy    782 non-null    float64
 14  perceptions_of_corruption  781 non-null    float64
 15  dystopia_residual          470 non-null    float64
 16  country                    782 non-null    object
 17  freedom                    782 non-null    float64
dtypes: Int64(1), float64(15), object(2)
memory usage: 110.9+ KB

In [24]:
df_modified["year"] = pd.to_numeric(df_modified["year"], errors='coerce').astype("Int64")

In [22]:
df_modified

,region,standard_error,family,generosity,year,lower_confidence_interval,upper_confidence_interval,whisker_high,whisker_low,social_support,happiness_score,happiness_rank,log_gdp_per_capita,healthy_life_expectancy,perceptions_of_corruption,dystopia_residual,country,freedom
0,Western Europe,0.03411,1.34951,0.29678,2015,NaN,NaN,NaN,NaN,NaN,7.587,1.0,1.39651,0.94143,0.41978,2.51738,Switzerland,0.66557
1,Western Europe,0.04884,1.40223,0.43630,2015,NaN,NaN,NaN,NaN,NaN,7.561,2.0,1.30232,0.94784,0.14145,2.70201,Iceland,0.62877
2,Western Europe,0.03328,1.36058,0.34139,2015,NaN,NaN,NaN,NaN,NaN,7.527,3.0,1.32548,0.87464,0.48357,2.49204,Denmark,0.64938
3,Western Europe,0.03880,1.33095,0.34699,2015,NaN,NaN,NaN,NaN,NaN,7.522,4.0,1.45900,0.88521,0.36503,2.46531,Norway,0.66973
4,North America,0.03553,1.32261,0.45811,2015,NaN,NaN,NaN,NaN,NaN,7.427,5.0,1.32629,0.90563,0.32957,2.45176,Canada,0.63297
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,,NaN,NaN,0.21700,2019,NaN,NaN,NaN,NaN,0.711,3.334,152.0,0.35900,0.61400,0.41100,NaN,Rwanda,0.55500
778,,NaN,NaN,0.27600,2019,NaN,NaN,NaN,NaN,0.885,3.231,153.0,0.47600,0.49900,0.14700,NaN,Tanzania,0.41700
779,,NaN,NaN,0.15800,2019,NaN,NaN,NaN,NaN,0.517,3.203,154.0,0.35000,0.36100,0.02500,NaN,Afghanistan,0.00000
780,,NaN,NaN,0.23500,2019,NaN,NaN,NaN,NaN,0.000,3.083,155.0,0.02600,0.10500,0.03500,NaN,Central African Republic,0.22500
781,,NaN,NaN,0.20200,2019,NaN,NaN,NaN,NaN,0.575,2.853,156.0,0.30600,0.29500,0.09100,NaN,South Sudan,0.01000

In [25]:
df_modified.dtypes

region                        object
standard_error               float64
family                       float64
generosity                   float64
year                           Int64
lower_confidence_interval    float64
upper_confidence_interval    float64
whisker_high                 float64
whisker_low                  float64
social_support               float64
happiness_score              float64
happiness_rank               float64
log_gdp_per_capita           float64
healthy_life_expectancy      float64
perceptions_of_corruption    float64
dystopia_residual            float64
country                       object
freedom                      float64
dtype: object

In [26]:
df_modified

,region,standard_error,family,generosity,year,lower_confidence_interval,upper_confidence_interval,whisker_high,whisker_low,social_support,happiness_score,happiness_rank,log_gdp_per_capita,healthy_life_expectancy,perceptions_of_corruption,dystopia_residual,country,freedom
0,Western Europe,0.03411,1.34951,0.29678,2015,NaN,NaN,NaN,NaN,NaN,7.587,1.0,1.39651,0.94143,0.41978,2.51738,Switzerland,0.66557
1,Western Europe,0.04884,1.40223,0.43630,2015,NaN,NaN,NaN,NaN,NaN,7.561,2.0,1.30232,0.94784,0.14145,2.70201,Iceland,0.62877
2,Western Europe,0.03328,1.36058,0.34139,2015,NaN,NaN,NaN,NaN,NaN,7.527,3.0,1.32548,0.87464,0.48357,2.49204,Denmark,0.64938
3,Western Europe,0.03880,1.33095,0.34699,2015,NaN,NaN,NaN,NaN,NaN,7.522,4.0,1.45900,0.88521,0.36503,2.46531,Norway,0.66973
4,North America,0.03553,1.32261,0.45811,2015,NaN,NaN,NaN,NaN,NaN,7.427,5.0,1.32629,0.90563,0.32957,2.45176,Canada,0.63297
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,,NaN,NaN,0.21700,2019,NaN,NaN,NaN,NaN,0.711,3.334,152.0,0.35900,0.61400,0.41100,NaN,Rwanda,0.55500
778,,NaN,NaN,0.27600,2019,NaN,NaN,NaN,NaN,0.885,3.231,153.0,0.47600,0.49900,0.14700,NaN,Tanzania,0.41700
779,,NaN,NaN,0.15800,2019,NaN,NaN,NaN,NaN,0.517,3.203,154.0,0.35000,0.36100,0.02500,NaN,Afghanistan,0.00000
780,,NaN,NaN,0.23500,2019,NaN,NaN,NaN,NaN,0.000,3.083,155.0,0.02600,0.10500,0.03500,NaN,Central African Republic,0.22500
781,,NaN,NaN,0.20200,2019,NaN,NaN,NaN,NaN,0.575,2.853,156.0,0.30600,0.29500,0.09100,NaN,South Sudan,0.01000

In [27]:
df_modified.to_csv('eda_analysis.csv', index=False)

In [28]:
df_modified.isnull().sum()

region                         0
standard_error               624
family                       312
generosity                     0
year                           0
lower_confidence_interval    625
upper_confidence_interval    625
whisker_high                 627
whisker_low                  627
social_support               470
happiness_score                0
happiness_rank                 0
log_gdp_per_capita             0
healthy_life_expectancy        0
perceptions_of_corruption      1
dystopia_residual            312
country                        0
freedom                        0
dtype: int64

In [29]:
df_mod = df_modified

In [30]:
df_mod

,region,standard_error,family,generosity,year,lower_confidence_interval,upper_confidence_interval,whisker_high,whisker_low,social_support,happiness_score,happiness_rank,log_gdp_per_capita,healthy_life_expectancy,perceptions_of_corruption,dystopia_residual,country,freedom
0,Western Europe,0.03411,1.34951,0.29678,2015,NaN,NaN,NaN,NaN,NaN,7.587,1.0,1.39651,0.94143,0.41978,2.51738,Switzerland,0.66557
1,Western Europe,0.04884,1.40223,0.43630,2015,NaN,NaN,NaN,NaN,NaN,7.561,2.0,1.30232,0.94784,0.14145,2.70201,Iceland,0.62877
2,Western Europe,0.03328,1.36058,0.34139,2015,NaN,NaN,NaN,NaN,NaN,7.527,3.0,1.32548,0.87464,0.48357,2.49204,Denmark,0.64938
3,Western Europe,0.03880,1.33095,0.34699,2015,NaN,NaN,NaN,NaN,NaN,7.522,4.0,1.45900,0.88521,0.36503,2.46531,Norway,0.66973
4,North America,0.03553,1.32261,0.45811,2015,NaN,NaN,NaN,NaN,NaN,7.427,5.0,1.32629,0.90563,0.32957,2.45176,Canada,0.63297
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,,NaN,NaN,0.21700,2019,NaN,NaN,NaN,NaN,0.711,3.334,152.0,0.35900,0.61400,0.41100,NaN,Rwanda,0.55500
778,,NaN,NaN,0.27600,2019,NaN,NaN,NaN,NaN,0.885,3.231,153.0,0.47600,0.49900,0.14700,NaN,Tanzania,0.41700
779,,NaN,NaN,0.15800,2019,NaN,NaN,NaN,NaN,0.517,3.203,154.0,0.35000,0.36100,0.02500,NaN,Afghanistan,0.00000
780,,NaN,NaN,0.23500,2019,NaN,NaN,NaN,NaN,0.000,3.083,155.0,0.02600,0.10500,0.03500,NaN,Central African Republic,0.22500
781,,NaN,NaN,0.20200,2019,NaN,NaN,NaN,NaN,0.575,2.853,156.0,0.30600,0.29500,0.09100,NaN,South Sudan,0.01000

In [32]:
df_mod.isnull().sum()

region                         0
standard_error               624
family                       312
generosity                     0
year                           0
lower_confidence_interval    625
upper_confidence_interval    625
whisker_high                 627
whisker_low                  627
social_support               470
happiness_score                0
happiness_rank                 0
log_gdp_per_capita             0
healthy_life_expectancy        0
perceptions_of_corruption      1
dystopia_residual            312
country                        0
freedom                        0
dtype: int64

In [35]:
df_mod = df_mod.drop(columns=['standard_error', 'lower_confidence_interval', 'upper_confidence_interval', 'whisker_high', 'whisker_low'])

In [36]:
df_mod

,region,family,generosity,year,social_support,happiness_score,happiness_rank,log_gdp_per_capita,healthy_life_expectancy,perceptions_of_corruption,dystopia_residual,country,freedom
0,Western Europe,1.34951,0.29678,2015,NaN,7.587,1.0,1.39651,0.94143,0.41978,2.51738,Switzerland,0.66557
1,Western Europe,1.40223,0.43630,2015,NaN,7.561,2.0,1.30232,0.94784,0.14145,2.70201,Iceland,0.62877
2,Western Europe,1.36058,0.34139,2015,NaN,7.527,3.0,1.32548,0.87464,0.48357,2.49204,Denmark,0.64938
3,Western Europe,1.33095,0.34699,2015,NaN,7.522,4.0,1.45900,0.88521,0.36503,2.46531,Norway,0.66973
4,North America,1.32261,0.45811,2015,NaN,7.427,5.0,1.32629,0.90563,0.32957,2.45176,Canada,0.63297
...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,,NaN,0.21700,2019,0.711,3.334,152.0,0.35900,0.61400,0.41100,NaN,Rwanda,0.55500
778,,NaN,0.27600,2019,0.885,3.231,153.0,0.47600,0.49900,0.14700,NaN,Tanzania,0.41700
779,,NaN,0.15800,2019,0.517,3.203,154.0,0.35000,0.36100,0.02500,NaN,Afghanistan,0.00000
780,,NaN,0.23500,2019,0.000,3.083,155.0,0.02600,0.10500,0.03500,NaN,Central African Republic,0.22500
781,,NaN,0.20200,2019,0.575,2.853,156.0,0.30600,0.29500,0.09100,NaN,South Sudan,0.01000

In [44]:
import numpy as np
df_mod['region'] = df_mod['region'].replace("",np.nan)

In [46]:
df_mod[['region','country']]

             region                   country
0    Western Europe               Switzerland
1    Western Europe                   Iceland
2    Western Europe                   Denmark
3    Western Europe                    Norway
4     North America                    Canada
..              ...                       ...
777             NaN                    Rwanda
778             NaN                  Tanzania
779             NaN               Afghanistan
780             NaN  Central African Republic
781             NaN               South Sudan

[782 rows x 2 columns]

In [59]:
missing = df_mod[df_mod['region'].isnull()]

In [71]:
missing_countries = missing[missing['region'].isnull()]

In [63]:
missing['country']

array(['Norway', 'Denmark', 'Iceland', 'Switzerland', 'Finland',
       'Netherlands', 'Canada', 'New Zealand', 'Sweden', 'Australia',
       'Israel', 'Costa Rica', 'Austria', 'United States', 'Ireland',
       'Germany', 'Belgium', 'Luxembourg', 'United Kingdom', 'Chile',
       'United Arab Emirates', 'Brazil', 'Czech Republic', 'Argentina',
       'Mexico', 'Singapore', 'Malta', 'Uruguay', 'Guatemala', 'Panama',
       'France', 'Thailand', 'Taiwan Province of China', 'Spain', 'Qatar',
       'Colombia', 'Saudi Arabia', 'Trinidad and Tobago', 'Kuwait',
       'Slovakia', 'Bahrain', 'Malaysia', 'Nicaragua', 'Ecuador',
       'El Salvador', 'Poland', 'Uzbekistan', 'Italy', 'Russia', 'Belize',
       'Japan', 'Lithuania', 'Algeria', 'Latvia', 'South Korea',
       'Moldova', 'Romania', 'Bolivia', 'Turkmenistan', 'Kazakhstan',
       'North Cyprus', 'Slovenia', 'Peru', 'Mauritius', 'Cyprus',
       'Estonia', 'Belarus', 'Libya', 'Turkey', 'Paraguay',
       'Hong Kong S.A.R., China', 'Philippines', 'Serbia', 'Jordan',
       'Hungary', 'Jamaica', 'Croatia', 'Kosovo', 'China', 'Pakistan',
       'Indonesia', 'Venezuela', 'Montenegro', 'Morocco', 'Azerbaijan',
       'Dominican Republic', 'Greece', 'Lebanon', 'Portugal',
       'Bosnia and Herzegovina', 'Honduras', 'Macedonia', 'Somalia',
       'Vietnam', 'Nigeria', 'Tajikistan', 'Bhutan', 'Kyrgyzstan',
       'Nepal', 'Mongolia', 'South Africa', 'Tunisia',
       'Palestinian Territories', 'Egypt', 'Bulgaria', 'Sierra Leone',
       'Cameroon', 'Iran', 'Albania', 'Bangladesh', 'Namibia', 'Kenya',
       'Mozambique', 'Myanmar', 'Senegal', 'Zambia', 'Iraq', 'Gabon',
       'Ethiopia', 'Sri Lanka', 'Armenia', 'India', 'Mauritania',
       'Congo (Brazzaville)', 'Georgia', 'Congo (Kinshasa)', 'Mali',
       'Ivory Coast', 'Cambodia', 'Sudan', 'Ghana', 'Ukraine', 'Uganda',
       'Burkina Faso', 'Niger', 'Malawi', 'Chad', 'Zimbabwe', 'Lesotho',
       'Angola', 'Afghanistan', 'Botswana', 'Benin', 'Madagascar',
       'Haiti', 'Yemen', 'South Sudan', 'Liberia', 'Guinea', 'Togo',
       'Rwanda', 'Syria', 'Tanzania', 'Burundi',
       'Central African Republic', 'Finland', 'Norway', 'Denmark',
       'Iceland', 'Switzerland', 'Netherlands', 'Canada', 'New Zealand',
       'Sweden', 'Australia', 'United Kingdom', 'Austria', 'Costa Rica',
       'Ireland', 'Germany', 'Belgium', 'Luxembourg', 'United States',
       'Israel', 'United Arab Emirates', 'Czech Republic', 'Malta',
       'France', 'Mexico', 'Chile', 'Taiwan', 'Panama', 'Brazil',
       'Argentina', 'Guatemala', 'Uruguay', 'Qatar', 'Saudi Arabia',
       'Singapore', 'Malaysia', 'Spain', 'Colombia', 'Trinidad & Tobago',
       'Slovakia', 'El Salvador', 'Nicaragua', 'Poland', 'Bahrain',
       'Uzbekistan', 'Kuwait', 'Thailand', 'Italy', 'Ecuador', 'Belize',
       'Lithuania', 'Slovenia', 'Romania', 'Latvia', 'Japan', 'Mauritius',
       'Jamaica', 'South Korea', 'Northern Cyprus', 'Russia',
       'Kazakhstan', 'Cyprus', 'Bolivia', 'Estonia', 'Paraguay', 'Peru',
       'Kosovo', 'Moldova', 'Turkmenistan', 'Hungary', 'Libya',
       'Philippines', 'Honduras', 'Belarus', 'Turkey', 'Pakistan',
       'Hong Kong', 'Portugal', 'Serbia', 'Greece', 'Lebanon',
       'Montenegro', 'Croatia', 'Dominican Republic', 'Algeria',
       'Morocco', 'China', 'Azerbaijan', 'Tajikistan', 'Macedonia',
       'Jordan', 'Nigeria', 'Kyrgyzstan', 'Bosnia and Herzegovina',
       'Mongolia', 'Vietnam', 'Indonesia', 'Bhutan', 'Somalia',
       'Cameroon', 'Bulgaria', 'Nepal', 'Venezuela', 'Gabon',
       'Palestinian Territories', 'South Africa', 'Iran', 'Ivory Coast',
       'Ghana', 'Senegal', 'Laos', 'Tunisia', 'Albania', 'Sierra Leone',
       'Congo (Brazzaville)', 'Bangladesh', 'Sri Lanka', 'Iraq', 'Mali',
       'Namibia', 'Cambodia', 'Burkina Faso', 'Egypt', 'Mozambique',
       'Kenya', 'Zambia', 'Mauritania', 'Ethiopia', 'Georgia', 'Armenia',
       'Myanmar', 'Chad', 'Congo (Kinshasa)', 'India', 'Niger', 'Uganda',
       'Benin', 'Sudan', 'Ukraine', 'Togo', 'Guinea', 'Lesotho', 'Angola',
       'Madagascar', 'Zimbabwe', 'Afghanistan', 'Botswana', 'Malawi',
       'Haiti', 'Liberia', 'Syria', 'Rwanda', 'Yemen', 'Tanzania',
       'South Sudan', 'Central African Republic', 'Burundi', 'Finland',
       'Denmark', 'Norway', 'Iceland', 'Netherlands', 'Switzerland',
       'Sweden', 'New Zealand', 'Canada', 'Austria', 'Australia',
       'Costa Rica', 'Israel', 'Luxembourg', 'United Kingdom', 'Ireland',
       'Germany', 'Belgium', 'United States', 'Czech Republic',
       'United Arab Emirates', 'Malta', 'Mexico', 'France', 'Taiwan',
       'Chile', 'Guatemala', 'Saudi Arabia', 'Qatar', 'Spain', 'Panama',
       'Brazil', 'Uruguay', 'Singapore', 'El Salvador', 'Italy',
       'Bahrain', 'Slovakia', 'Trinidad & Tobago', 'Poland', 'Uzbekistan',
       'Lithuania', 'Colombia', 'Slovenia', 'Nicaragua', 'Kosovo',
       'Argentina', 'Romania', 'Cyprus', 'Ecuador', 'Kuwait', 'Thailand',
       'Latvia', 'South Korea', 'Estonia', 'Jamaica', 'Mauritius',
       'Japan', 'Honduras', 'Kazakhstan', 'Bolivia', 'Hungary',
       'Paraguay', 'Northern Cyprus', 'Peru', 'Portugal', 'Pakistan',
       'Russia', 'Philippines', 'Serbia', 'Moldova', 'Libya',
       'Montenegro', 'Tajikistan', 'Croatia', 'Hong Kong',
       'Dominican Republic', 'Bosnia and Herzegovina', 'Turkey',
       'Malaysia', 'Belarus', 'Greece', 'Mongolia', 'North Macedonia',
       'Nigeria', 'Kyrgyzstan', 'Turkmenistan', 'Algeria', 'Morocco',
       'Azerbaijan', 'Lebanon', 'Indonesia', 'China', 'Vietnam', 'Bhutan',
       'Cameroon', 'Bulgaria', 'Ghana', 'Ivory Coast', 'Nepal', 'Jordan',
       'Benin', 'Congo (Brazzaville)', 'Gabon', 'Laos', 'South Africa',
       'Albania', 'Venezuela', 'Cambodia', 'Palestinian Territories',
       'Senegal', 'Somalia', 'Namibia', 'Niger', 'Burkina Faso',
       'Armenia', 'Iran', 'Guinea', 'Georgia', 'Gambia', 'Kenya',
       'Mauritania', 'Mozambique', 'Tunisia', 'Bangladesh', 'Iraq',
       'Congo (Kinshasa)', 'Mali', 'Sierra Leone', 'Sri Lanka', 'Myanmar',
       'Chad', 'Ukraine', 'Ethiopia', 'Swaziland', 'Uganda', 'Egypt',
       'Zambia', 'Togo', 'India', 'Liberia', 'Comoros', 'Madagascar',
       'Lesotho', 'Burundi', 'Zimbabwe', 'Haiti', 'Botswana', 'Syria',
       'Malawi', 'Yemen', 'Rwanda', 'Tanzania', 'Afghanistan',
       'Central African Republic', 'South Sudan'], dtype=object)

In [74]:
missing_countries['country'].values

array(['Norway', 'Denmark', 'Iceland', 'Switzerland', 'Finland',
       'Netherlands', 'Canada', 'New Zealand', 'Sweden', 'Australia',
       'Israel', 'Costa Rica', 'Austria', 'United States', 'Ireland',
       'Germany', 'Belgium', 'Luxembourg', 'United Kingdom', 'Chile',
       'United Arab Emirates', 'Brazil', 'Czech Republic', 'Argentina',
       'Mexico', 'Singapore', 'Malta', 'Uruguay', 'Guatemala', 'Panama',
       'France', 'Thailand', 'Taiwan Province of China', 'Spain', 'Qatar',
       'Colombia', 'Saudi Arabia', 'Trinidad and Tobago', 'Kuwait',
       'Slovakia', 'Bahrain', 'Malaysia', 'Nicaragua', 'Ecuador',
       'El Salvador', 'Poland', 'Uzbekistan', 'Italy', 'Russia', 'Belize',
       'Japan', 'Lithuania', 'Algeria', 'Latvia', 'South Korea',
       'Moldova', 'Romania', 'Bolivia', 'Turkmenistan', 'Kazakhstan',
       'North Cyprus', 'Slovenia', 'Peru', 'Mauritius', 'Cyprus',
       'Estonia', 'Belarus', 'Libya', 'Turkey', 'Paraguay',
       'Hong Kong S.A.R., China', 'Philippines', 'Serbia', 'Jordan',
       'Hungary', 'Jamaica', 'Croatia', 'Kosovo', 'China', 'Pakistan',
       'Indonesia', 'Venezuela', 'Montenegro', 'Morocco', 'Azerbaijan',
       'Dominican Republic', 'Greece', 'Lebanon', 'Portugal',
       'Bosnia and Herzegovina', 'Honduras', 'Macedonia', 'Somalia',
       'Vietnam', 'Nigeria', 'Tajikistan', 'Bhutan', 'Kyrgyzstan',
       'Nepal', 'Mongolia', 'South Africa', 'Tunisia',
       'Palestinian Territories', 'Egypt', 'Bulgaria', 'Sierra Leone',
       'Cameroon', 'Iran', 'Albania', 'Bangladesh', 'Namibia', 'Kenya',
       'Mozambique', 'Myanmar', 'Senegal', 'Zambia', 'Iraq', 'Gabon',
       'Ethiopia', 'Sri Lanka', 'Armenia', 'India', 'Mauritania',
       'Congo (Brazzaville)', 'Georgia', 'Congo (Kinshasa)', 'Mali',
       'Ivory Coast', 'Cambodia', 'Sudan', 'Ghana', 'Ukraine', 'Uganda',
       'Burkina Faso', 'Niger', 'Malawi', 'Chad', 'Zimbabwe', 'Lesotho',
       'Angola', 'Afghanistan', 'Botswana', 'Benin', 'Madagascar',
       'Haiti', 'Yemen', 'South Sudan', 'Liberia', 'Guinea', 'Togo',
       'Rwanda', 'Syria', 'Tanzania', 'Burundi',
       'Central African Republic', 'Finland', 'Norway', 'Denmark',
       'Iceland', 'Switzerland', 'Netherlands', 'Canada', 'New Zealand',
       'Sweden', 'Australia', 'United Kingdom', 'Austria', 'Costa Rica',
       'Ireland', 'Germany', 'Belgium', 'Luxembourg', 'United States',
       'Israel', 'United Arab Emirates', 'Czech Republic', 'Malta',
       'France', 'Mexico', 'Chile', 'Taiwan', 'Panama', 'Brazil',
       'Argentina', 'Guatemala', 'Uruguay', 'Qatar', 'Saudi Arabia',
       'Singapore', 'Malaysia', 'Spain', 'Colombia', 'Trinidad & Tobago',
       'Slovakia', 'El Salvador', 'Nicaragua', 'Poland', 'Bahrain',
       'Uzbekistan', 'Kuwait', 'Thailand', 'Italy', 'Ecuador', 'Belize',
       'Lithuania', 'Slovenia', 'Romania', 'Latvia', 'Japan', 'Mauritius',
       'Jamaica', 'South Korea', 'Northern Cyprus', 'Russia',
       'Kazakhstan', 'Cyprus', 'Bolivia', 'Estonia', 'Paraguay', 'Peru',
       'Kosovo', 'Moldova', 'Turkmenistan', 'Hungary', 'Libya',
       'Philippines', 'Honduras', 'Belarus', 'Turkey', 'Pakistan',
       'Hong Kong', 'Portugal', 'Serbia', 'Greece', 'Lebanon',
       'Montenegro', 'Croatia', 'Dominican Republic', 'Algeria',
       'Morocco', 'China', 'Azerbaijan', 'Tajikistan', 'Macedonia',
       'Jordan', 'Nigeria', 'Kyrgyzstan', 'Bosnia and Herzegovina',
       'Mongolia', 'Vietnam', 'Indonesia', 'Bhutan', 'Somalia',
       'Cameroon', 'Bulgaria', 'Nepal', 'Venezuela', 'Gabon',
       'Palestinian Territories', 'South Africa', 'Iran', 'Ivory Coast',
       'Ghana', 'Senegal', 'Laos', 'Tunisia', 'Albania', 'Sierra Leone',
       'Congo (Brazzaville)', 'Bangladesh', 'Sri Lanka', 'Iraq', 'Mali',
       'Namibia', 'Cambodia', 'Burkina Faso', 'Egypt', 'Mozambique',
       'Kenya', 'Zambia', 'Mauritania', 'Ethiopia', 'Georgia', 'Armenia',
       'Myanmar', 'Chad', 'Congo (Kinshasa)', 'India', 'Niger', 'Uganda',
       'Benin', 'Sudan', 'Ukraine', 'Togo', 'Guinea', 'Lesotho', 'Angola',
       'Madagascar', 'Zimbabwe', 'Afghanistan', 'Botswana', 'Malawi',
       'Haiti', 'Liberia', 'Syria', 'Rwanda', 'Yemen', 'Tanzania',
       'South Sudan', 'Central African Republic', 'Burundi', 'Finland',
       'Denmark', 'Norway', 'Iceland', 'Netherlands', 'Switzerland',
       'Sweden', 'New Zealand', 'Canada', 'Austria', 'Australia',
       'Costa Rica', 'Israel', 'Luxembourg', 'United Kingdom', 'Ireland',
       'Germany', 'Belgium', 'United States', 'Czech Republic',
       'United Arab Emirates', 'Malta', 'Mexico', 'France', 'Taiwan',
       'Chile', 'Guatemala', 'Saudi Arabia', 'Qatar', 'Spain', 'Panama',
       'Brazil', 'Uruguay', 'Singapore', 'El Salvador', 'Italy',
       'Bahrain', 'Slovakia', 'Trinidad & Tobago', 'Poland', 'Uzbekistan',
       'Lithuania', 'Colombia', 'Slovenia', 'Nicaragua', 'Kosovo',
       'Argentina', 'Romania', 'Cyprus', 'Ecuador', 'Kuwait', 'Thailand',
       'Latvia', 'South Korea', 'Estonia', 'Jamaica', 'Mauritius',
       'Japan', 'Honduras', 'Kazakhstan', 'Bolivia', 'Hungary',
       'Paraguay', 'Northern Cyprus', 'Peru', 'Portugal', 'Pakistan',
       'Russia', 'Philippines', 'Serbia', 'Moldova', 'Libya',
       'Montenegro', 'Tajikistan', 'Croatia', 'Hong Kong',
       'Dominican Republic', 'Bosnia and Herzegovina', 'Turkey',
       'Malaysia', 'Belarus', 'Greece', 'Mongolia', 'North Macedonia',
       'Nigeria', 'Kyrgyzstan', 'Turkmenistan', 'Algeria', 'Morocco',
       'Azerbaijan', 'Lebanon', 'Indonesia', 'China', 'Vietnam', 'Bhutan',
       'Cameroon', 'Bulgaria', 'Ghana', 'Ivory Coast', 'Nepal', 'Jordan',
       'Benin', 'Congo (Brazzaville)', 'Gabon', 'Laos', 'South Africa',
       'Albania', 'Venezuela', 'Cambodia', 'Palestinian Territories',
       'Senegal', 'Somalia', 'Namibia', 'Niger', 'Burkina Faso',
       'Armenia', 'Iran', 'Guinea', 'Georgia', 'Gambia', 'Kenya',
       'Mauritania', 'Mozambique', 'Tunisia', 'Bangladesh', 'Iraq',
       'Congo (Kinshasa)', 'Mali', 'Sierra Leone', 'Sri Lanka', 'Myanmar',
       'Chad', 'Ukraine', 'Ethiopia', 'Swaziland', 'Uganda', 'Egypt',
       'Zambia', 'Togo', 'India', 'Liberia', 'Comoros', 'Madagascar',
       'Lesotho', 'Burundi', 'Zimbabwe', 'Haiti', 'Botswana', 'Syria',
       'Malawi', 'Yemen', 'Rwanda', 'Tanzania', 'Afghanistan',
       'Central African Republic', 'South Sudan'], dtype=object)

In [75]:
country_to_region = {
    # Western Europe
    'Norway': 'Western Europe', 'Denmark': 'Western Europe', 'Iceland': 'Western Europe',
    'Switzerland': 'Western Europe', 'Finland': 'Western Europe', 'Netherlands': 'Western Europe',
    'Sweden': 'Western Europe', 'Austria': 'Western Europe', 'Ireland': 'Western Europe',
    'Germany': 'Western Europe', 'Belgium': 'Western Europe', 'Luxembourg': 'Western Europe',
    'United Kingdom': 'Western Europe', 'France': 'Western Europe', 'Malta': 'Western Europe',
    'Spain': 'Western Europe', 'Italy': 'Western Europe', 'Portugal': 'Western Europe',
    'Cyprus': 'Western Europe', 'Greece': 'Western Europe',

    # North America
    'Canada': 'North America', 'United States': 'North America',

    # Australia and New Zealand
    'Australia': 'Australia and New Zealand', 'New Zealand': 'Australia and New Zealand',

    # Middle East and Northern Africa
    'Israel': 'Middle East and Northern Africa', 'United Arab Emirates': 'Middle East and Northern Africa',
    'Saudi Arabia': 'Middle East and Northern Africa', 'Qatar': 'Middle East and Northern Africa',
    'Bahrain': 'Middle East and Northern Africa', 'Kuwait': 'Middle East and Northern Africa',
    'Algeria': 'Middle East and Northern Africa', 'Morocco': 'Middle East and Northern Africa',
    'Tunisia': 'Middle East and Northern Africa', 'Libya': 'Middle East and Northern Africa',
    'Lebanon': 'Middle East and Northern Africa', 'Jordan': 'Middle East and Northern Africa',
    'Iraq': 'Middle East and Northern Africa', 'Iran': 'Middle East and Northern Africa',
    'Egypt': 'Middle East and Northern Africa', 'Palestinian Territories': 'Middle East and Northern Africa',
    'Syria': 'Middle East and Northern Africa', 'Yemen': 'Middle East and Northern Africa',

    # Latin America and Caribbean
    'Costa Rica': 'Latin America and Caribbean', 'Chile': 'Latin America and Caribbean',
    'Brazil': 'Latin America and Caribbean', 'Argentina': 'Latin America and Caribbean',
    'Mexico': 'Latin America and Caribbean', 'Uruguay': 'Latin America and Caribbean',
    'Guatemala': 'Latin America and Caribbean', 'Panama': 'Latin America and Caribbean',
    'Colombia': 'Latin America and Caribbean', 'Trinidad and Tobago': 'Latin America and Caribbean',
    'Nicaragua': 'Latin America and Caribbean', 'Ecuador': 'Latin America and Caribbean',
    'El Salvador': 'Latin America and Caribbean', 'Belize': 'Latin America and Caribbean',
    'Bolivia': 'Latin America and Caribbean', 'Venezuela': 'Latin America and Caribbean',
    'Jamaica': 'Latin America and Caribbean', 'Dominican Republic': 'Latin America and Caribbean',
    'Honduras': 'Latin America and Caribbean', 'Paraguay': 'Latin America and Caribbean',
    'Haiti': 'Latin America and Caribbean',

    # Eastern Asia
    'Japan': 'Eastern Asia', 'South Korea': 'Eastern Asia', 'China': 'Eastern Asia',
    'Taiwan': 'Eastern Asia', 'Hong Kong': 'Eastern Asia', 'Mongolia': 'Eastern Asia',

    # Southeastern Asia
    'Singapore': 'Southeastern Asia', 'Thailand': 'Southeastern Asia', 'Malaysia': 'Southeastern Asia',
    'Philippines': 'Southeastern Asia', 'Indonesia': 'Southeastern Asia', 'Vietnam': 'Southeastern Asia',
    'Cambodia': 'Southeastern Asia', 'Myanmar': 'Southeastern Asia', 'Laos': 'Southeastern Asia',

    # Southern Asia
    'India': 'Southern Asia', 'Pakistan': 'Southern Asia', 'Bangladesh': 'Southern Asia',
    'Nepal': 'Southern Asia', 'Bhutan': 'Southern Asia', 'Sri Lanka': 'Southern Asia',
    'Afghanistan': 'Southern Asia',

    # Sub-Saharan Africa
    'Nigeria': 'Sub-Saharan Africa', 'Mauritius': 'Sub-Saharan Africa', 'Namibia': 'Sub-Saharan Africa',
    'Kenya': 'Sub-Saharan Africa', 'Mozambique': 'Sub-Saharan Africa', 'Senegal': 'Sub-Saharan Africa',
    'Zambia': 'Sub-Saharan Africa', 'Gabon': 'Sub-Saharan Africa', 'Ethiopia': 'Sub-Saharan Africa',
    'South Africa': 'Sub-Saharan Africa', 'Cameroon': 'Sub-Saharan Africa', 'Ivory Coast': 'Sub-Saharan Africa',
    'Ghana': 'Sub-Saharan Africa', 'Sudan': 'Sub-Saharan Africa', 'Somalia': 'Sub-Saharan Africa',
    'Mali': 'Sub-Saharan Africa', 'Sierra Leone': 'Sub-Saharan Africa', 'Madagascar': 'Sub-Saharan Africa',
    'Liberia': 'Sub-Saharan Africa', 'Guinea': 'Sub-Saharan Africa', 'Togo': 'Sub-Saharan Africa',
    'Rwanda': 'Sub-Saharan Africa', 'Tanzania': 'Sub-Saharan Africa', 'Burundi': 'Sub-Saharan Africa',
    'Central African Republic': 'Sub-Saharan Africa', 'South Sudan': 'Sub-Saharan Africa',
    'Angola': 'Sub-Saharan Africa', 'Malawi': 'Sub-Saharan Africa', 'Chad': 'Sub-Saharan Africa',
    'Botswana': 'Sub-Saharan Africa', 'Lesotho': 'Sub-Saharan Africa', 'Comoros': 'Sub-Saharan Africa',
    'Swaziland': 'Sub-Saharan Africa', 'Uganda': 'Sub-Saharan Africa', 'Burkina Faso': 'Sub-Saharan Africa',
    'Niger': 'Sub-Saharan Africa',

    # Central and Eastern Europe
    'Czech Republic': 'Central and Eastern Europe', 'Slovakia': 'Central and Eastern Europe',
    'Poland': 'Central and Eastern Europe', 'Hungary': 'Central and Eastern Europe',
    'Romania': 'Central and Eastern Europe', 'Bulgaria': 'Central and Eastern Europe',
    'Moldova': 'Central and Eastern Europe', 'Ukraine': 'Central and Eastern Europe',
    'Belarus': 'Central and Eastern Europe', 'Russia': 'Central and Eastern Europe',
    'Lithuania': 'Central and Eastern Europe', 'Latvia': 'Central and Eastern Europe',
    'Estonia': 'Central and Eastern Europe', 'Croatia': 'Central and Eastern Europe',
    'Serbia': 'Central and Eastern Europe', 'Montenegro': 'Central and Eastern Europe',
    'Bosnia and Herzegovina': 'Central and Eastern Europe', 'North Macedonia': 'Central and Eastern Europe',
    'Kosovo': 'Central and Eastern Europe', 'Albania': 'Central and Eastern Europe',
    'Armenia': 'Central and Eastern Europe', 'Georgia': 'Central and Eastern Europe',
    'Azerbaijan': 'Central and Eastern Europe', 'Turkey': 'Central and Eastern Europe',
    'Turkmenistan': 'Central and Eastern Europe', 'Kazakhstan': 'Central and Eastern Europe',
    'Uzbekistan': 'Central and Eastern Europe', 'Kyrgyzstan': 'Central and Eastern Europe',
    'Tajikistan': 'Central and Eastern Europe'
}

In [77]:
df_mod['region'] = df_mod.apply(
    lambda row: country_to_region.get(row['country'], row['region']),
    axis=1
)

In [78]:
df_mod

,region,family,generosity,year,social_support,happiness_score,happiness_rank,log_gdp_per_capita,healthy_life_expectancy,perceptions_of_corruption,dystopia_residual,country,freedom
0,Western Europe,1.34951,0.29678,2015,NaN,7.587,1.0,1.39651,0.94143,0.41978,2.51738,Switzerland,0.66557
1,Western Europe,1.40223,0.43630,2015,NaN,7.561,2.0,1.30232,0.94784,0.14145,2.70201,Iceland,0.62877
2,Western Europe,1.36058,0.34139,2015,NaN,7.527,3.0,1.32548,0.87464,0.48357,2.49204,Denmark,0.64938
3,Western Europe,1.33095,0.34699,2015,NaN,7.522,4.0,1.45900,0.88521,0.36503,2.46531,Norway,0.66973
4,North America,1.32261,0.45811,2015,NaN,7.427,5.0,1.32629,0.90563,0.32957,2.45176,Canada,0.63297
...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,Sub-Saharan Africa,NaN,0.21700,2019,0.711,3.334,152.0,0.35900,0.61400,0.41100,NaN,Rwanda,0.55500
778,Sub-Saharan Africa,NaN,0.27600,2019,0.885,3.231,153.0,0.47600,0.49900,0.14700,NaN,Tanzania,0.41700
779,Southern Asia,NaN,0.15800,2019,0.517,3.203,154.0,0.35000,0.36100,0.02500,NaN,Afghanistan,0.00000
780,Sub-Saharan Africa,NaN,0.23500,2019,0.000,3.083,155.0,0.02600,0.10500,0.03500,NaN,Central African Republic,0.22500
781,Sub-Saharan Africa,NaN,0.20200,2019,0.575,2.853,156.0,0.30600,0.29500,0.09100,NaN,South Sudan,0.01000

In [84]:
filled_region = df_modified[df_modified['region'].notnull()]

In [86]:
filled_region['region'].values

array(['Western Europe', 'Western Europe', 'Western Europe',
       'Western Europe', 'North America', 'Western Europe',
       'Western Europe', 'Western Europe', 'Australia and New Zealand',
       'Australia and New Zealand', 'Middle East and Northern Africa',
       'Latin America and Caribbean', 'Western Europe',
       'Latin America and Caribbean', 'North America',
       'Latin America and Caribbean', 'Western Europe', 'Western Europe',
       'Western Europe', 'Middle East and Northern Africa',
       'Western Europe', 'Middle East and Northern Africa',
       'Latin America and Caribbean', 'Southeastern Asia',
       'Latin America and Caribbean', 'Western Europe',
       'Latin America and Caribbean', 'Middle East and Northern Africa',
       'Western Europe', 'Latin America and Caribbean',
       'Central and Eastern Europe', 'Latin America and Caribbean',
       'Latin America and Caribbean', 'Southeastern Asia',
       'Middle East and Northern Africa', 'Western Europe',
       'Western Europe', 'Eastern Asia',
       'Middle East and Northern Africa', 'Latin America and Caribbean',
       'Latin America and Caribbean', 'Latin America and Caribbean',
       'Latin America and Caribbean', 'Central and Eastern Europe',
       'Central and Eastern Europe', 'Eastern Asia', 'Eastern Asia',
       'Latin America and Caribbean', 'Middle East and Northern Africa',
       'Western Europe', 'Latin America and Caribbean',
       'Central and Eastern Europe', 'Latin America and Caribbean',
       'Central and Eastern Europe', 'Central and Eastern Europe',
       'Central and Eastern Europe', 'Latin America and Caribbean',
       'Latin America and Caribbean', 'Central and Eastern Europe',
       'Central and Eastern Europe', 'Southeastern Asia',
       'Central and Eastern Europe', 'Middle East and Northern Africa',
       'Central and Eastern Europe', 'Latin America and Caribbean',
       'Western Europe', 'Western Europe',
       'Middle East and Northern Africa', 'Central and Eastern Europe',
       'Central and Eastern Europe', 'Sub-Saharan Africa', 'Eastern Asia',
       'Central and Eastern Europe', 'Southeastern Asia',
       'Southeastern Asia', 'Middle East and Northern Africa',
       'Central and Eastern Europe', 'Sub-Saharan Africa',
       'Southern Asia', 'Central and Eastern Europe', 'Southern Asia',
       'Middle East and Northern Africa', 'Central and Eastern Europe',
       'Eastern Asia', 'Sub-Saharan Africa', 'Central and Eastern Europe',
       'Central and Eastern Europe', 'Western Europe',
       'Central and Eastern Europe', 'Southeastern Asia',
       'Sub-Saharan Africa', 'Middle East and Northern Africa',
       'Central and Eastern Europe', 'Sub-Saharan Africa',
       'Central and Eastern Europe', 'Central and Eastern Europe',
       'Sub-Saharan Africa', 'Latin America and Caribbean',
       'Southeastern Asia', 'Eastern Asia', 'Sub-Saharan Africa',
       'Western Europe', 'Middle East and Northern Africa',
       'Central and Eastern Europe', 'Latin America and Caribbean',
       'Central and Eastern Europe', 'Middle East and Northern Africa',
       'Middle East and Northern Africa', 'Southern Asia',
       'Middle East and Northern Africa', 'Central and Eastern Europe',
       'Middle East and Northern Africa', 'Sub-Saharan Africa',
       'Sub-Saharan Africa', 'Sub-Saharan Africa', 'Sub-Saharan Africa',
       'Southern Asia', 'Sub-Saharan Africa',
       'Latin America and Caribbean', 'Sub-Saharan Africa',
       'Southern Asia', 'Sub-Saharan Africa', 'Sub-Saharan Africa',
       'Sub-Saharan Africa', 'Sub-Saharan Africa', 'Sub-Saharan Africa',
       'Central and Eastern Europe', 'Sub-Saharan Africa',
       'Southeastern Asia', 'Central and Eastern Europe',
       'Sub-Saharan Africa', 'Southern Asia', 'Sub-Saharan Africa',
       'Central and Eastern Europe', 'Middle East and Northern Africa',
       'Middle East and Northern Africa', 'Sub-Saharan Africa',
       'Sub-Saharan Africa', 'Sub-Saharan Africa', 'Sub-Saharan Africa',
       'Sub-Saharan Africa', 'Sub-Saharan Africa', 'Sub-Saharan Africa',
       'Sub-Saharan Africa', 'Southeastern Asia', 'Sub-Saharan Africa',
       'Sub-Saharan Africa', 'Sub-Saharan Africa', 'Sub-Saharan Africa',
       'Sub-Saharan Africa', 'Sub-Saharan Africa', 'Sub-Saharan Africa',
       'Southern Asia', 'Sub-Saharan Africa', 'Sub-Saharan Africa',
       'Middle East and Northern Africa', 'Sub-Saharan Africa',
       'Sub-Saharan Africa', 'Western Europe', 'Western Europe',
       'Western Europe', 'Western Europe', 'Western Europe',
       'North America', 'Western Europe', 'Australia and New Zealand',
       'Australia and New Zealand', 'Western Europe',
       'Middle East and Northern Africa', 'Western Europe',
       'North America', 'Latin America and Caribbean',
       'Latin America and Caribbean', 'Western Europe',
       'Latin America and Caribbean', 'Western Europe', 'Western Europe',
       'Western Europe', 'Latin America and Caribbean',
       'Southeastern Asia', 'Western Europe',
       'Latin America and Caribbean', 'Latin America and Caribbean',
       'Latin America and Caribbean', 'Central and Eastern Europe',
       'Middle East and Northern Africa', 'Latin America and Caribbean',
       'Western Europe', 'Latin America and Caribbean', 'Western Europe',
       'Southeastern Asia', 'Middle East and Northern Africa',
       'Eastern Asia', 'Middle East and Northern Africa',
       'Western Europe', 'Middle East and Northern Africa',
       'Latin America and Caribbean', 'Latin America and Caribbean',
       'Middle East and Northern Africa',
       'Middle East and Northern Africa', 'Latin America and Caribbean',
       'Latin America and Caribbean', 'Central and Eastern Europe',
       'Latin America and Caribbean', 'Southeastern Asia',
       'Latin America and Caribbean', 'Central and Eastern Europe',
       'Western Europe', 'Latin America and Caribbean',
       'Latin America and Caribbean', 'Eastern Asia',
       'Central and Eastern Europe', 'Central and Eastern Europe',
       'Central and Eastern Europe', 'Central and Eastern Europe',
       'Eastern Asia', 'Latin America and Caribbean',
       'Central and Eastern Europe', 'Central and Eastern Europe',
       'Western Europe', 'Central and Eastern Europe',
       'Latin America and Caribbean', 'Central and Eastern Europe',
       'Sub-Saharan Africa', 'Middle East and Northern Africa',
       'Central and Eastern Europe', 'Western Europe',
       'Latin America and Caribbean', 'Central and Eastern Europe',
       'Central and Eastern Europe', 'Latin America and Caribbean',
       'Central and Eastern Europe', 'Eastern Asia', 'Sub-Saharan Africa',
       'Central and Eastern Europe', 'Middle East and Northern Africa',
       'Southeastern Asia', 'Middle East and Northern Africa',
       'Central and Eastern Europe', 'Southeastern Asia', 'Eastern Asia',
       'Southern Asia', 'Central and Eastern Europe',
       'Central and Eastern Europe', 'Central and Eastern Europe',
       'Central and Eastern Europe', 'Latin America and Caribbean',
       'Middle East and Northern Africa', 'Central and Eastern Europe',
       'Southern Asia', 'Middle East and Northern Africa',
       'Western Europe', 'Central and Eastern Europe',
       'Southeastern Asia', 'Sub-Saharan Africa',
       'Middle East and Northern Africa', 'Western Europe',
       'Central and Eastern Europe', 'Eastern Asia', 'Southeastern Asia',
       'Sub-Saharan Africa', 'Latin America and Caribbean',
       'Middle East and Northern Africa', 'Sub-Saharan Africa',
       'Southern Asia', 'Middle East and Northern Africa',
       'Central and Eastern Europe', 'Southern Asia',
       'Sub-Saharan Africa', 'Middle East and Northern Africa',
       'Sub-Saharan Africa', 'Sub-Saharan Africa', 'Sub-Saharan Africa',
       'Sub-Saharan Africa', 'Southern Asia', 'Southern Asia',
       'Southeastern Asia', 'Middle East and Northern Africa',
       'Central and Eastern Europe', 'Sub-Saharan Africa',
       'Central and Eastern Europe', 'Sub-Saharan Africa',
       'Sub-Saharan Africa', 'Central and Eastern Europe',
       'Sub-Saharan Africa', 'Sub-Saharan Africa',
       'Central and Eastern Europe', 'Sub-Saharan Africa',
       'Sub-Saharan Africa', 'Sub-Saharan Africa', 'Sub-Saharan Africa',
       'Sub-Saharan Africa', 'Sub-Saharan Africa',
       'Latin America and Caribbean', 'Sub-Saharan Africa',
       'Sub-Saharan Africa', 'Sub-Saharan Africa', 'Southeastern Asia',
       'Sub-Saharan Africa', 'Sub-Saharan Africa', 'Sub-Saharan Africa',
       'Sub-Saharan Africa', 'Sub-Saharan Africa', 'Sub-Saharan Africa',
       'Middle East and Northern Africa', 'Sub-Saharan Africa',
       'Sub-Saharan Africa', 'Sub-Saharan Africa', 'Sub-Saharan Africa',
       'Sub-Saharan Africa', 'Sub-Saharan Africa', 'Southern Asia',
       'Sub-Saharan Africa', 'Middle East and Northern Africa',
       'Sub-Saharan Africa', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', ''],
      dtype=object)

In [101]:
df_mod[df_mod['country'] == 'China']

,region,family,generosity,year,social_support,happiness_score,happiness_rank,log_gdp_per_capita,healthy_life_expectancy,perceptions_of_corruption,dystopia_residual,country,freedom
83,Eastern Asia,0.946750,0.081850,2015,NaN,5.140,84.0,0.890120,0.816580,0.027810,1.860400,China,0.516970
240,Eastern Asia,0.793810,0.049590,2016,NaN,5.245,83.0,1.027800,0.735610,0.027450,2.170870,China,0.440120
393,Eastern Asia,1.160837,0.028807,2017,NaN,5.273,79.0,1.081166,0.741416,0.022794,1.764939,China,0.472788
555,Eastern Asia,NaN,0.029000,2018,1.142,5.246,86.0,0.989000,0.799000,0.103000,NaN,China,0.597000
718,Eastern Asia,NaN,0.058000,2019,1.125,5.191,93.0,1.029000,0.893000,0.100000,NaN,China,0.521000

In [94]:
region_counts = df_mod.groupby('country')['region'].nunique()

In [95]:
region_counts

country
Afghanistan    1
Albania        1
Algeria        1
Angola         1
Argentina      1
              ..
Venezuela      1
Vietnam        1
Yemen          1
Zambia         1
Zimbabwe       1
Name: region, Length: 170, dtype: int64

In [96]:
conflicting_regions = region_counts[region_counts > 1]

In [104]:
conflicting_regions

Series([], Name: region, dtype: int64)