In [1]:
import pandas as pd
import glob
import os

In [2]:
reports_csv_files = glob.glob("data/raw/data/*.csv") 
print("Reports", reports_csv_files)

Reports ['data/raw/data\\2015.csv', 'data/raw/data\\2016.csv', 'data/raw/data\\2017.csv', 'data/raw/data\\2018.csv', 'data/raw/data\\2019.csv']

In [42]:
dfs = []
for file in reports_csv_files:
    year = os.path.basename(file).split('.')[0]
    print('year',year)
    df_year = pd.read_csv(file)
    df_year['year'] = year
    dfs.append(df_year)
df = pd.concat(dfs, ignore_index=True)

year 2015
year 2016
year 2017
year 2018
year 2019

In [43]:
dfs

[         Country                           Region  Happiness Rank  \
 0    Switzerland                   Western Europe               1
 1        Iceland                   Western Europe               2
 2        Denmark                   Western Europe               3
 3         Norway                   Western Europe               4
 4         Canada                    North America               5
 ..           ...                              ...             ...
 153       Rwanda               Sub-Saharan Africa             154
 154        Benin               Sub-Saharan Africa             155
 155        Syria  Middle East and Northern Africa             156
 156      Burundi               Sub-Saharan Africa             157
 157         Togo               Sub-Saharan Africa             158

      Happiness Score  Standard Error  Economy (GDP per Capita)   Family  \
 0              7.587         0.03411                   1.39651  1.34951
 1              7.561         0.04884                   1.30232  1.40223
 2              7.527         0.03328                   1.32548  1.36058
 3              7.522         0.03880                   1.45900  1.33095
 4              7.427         0.03553                   1.32629  1.32261
 ..               ...             ...                       ...      ...
 153            3.465         0.03464                   0.22208  0.77370
 154            3.340         0.03656                   0.28665  0.35386
 155            3.006         0.05015                   0.66320  0.47489
 156            2.905         0.08658                   0.01530  0.41587
 157            2.839         0.06727                   0.20868  0.13995

      Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
 0                     0.94143  0.66557                        0.41978
 1                     0.94784  0.62877                        0.14145
 2                     0.87464  0.64938                        0.48357
 3                     0.88521  0.66973                        0.36503
 4                     0.90563  0.63297                        0.32957
 ..                        ...      ...                            ...
 153                   0.42864  0.59201                        0.55191
 154                   0.31910  0.48450                        0.08010
 155                   0.72193  0.15684                        0.18906
 156                   0.22396  0.11850                        0.10062
 157                   0.28443  0.36453                        0.10731

      Generosity  Dystopia Residual  year
 0       0.29678            2.51738  2015
 1       0.43630            2.70201  2015
 2       0.34139            2.49204  2015
 3       0.34699            2.46531  2015
 4       0.45811            2.45176  2015
 ..          ...                ...   ...
 153     0.22628            0.67042  2015
 154     0.18260            1.63328  2015
 155     0.47179            0.32858  2015
 156     0.19727            1.83302  2015
 157     0.16681            1.56726  2015

 [158 rows x 13 columns],
          Country                           Region  Happiness Rank  \
 0        Denmark                   Western Europe               1
 1    Switzerland                   Western Europe               2
 2        Iceland                   Western Europe               3
 3         Norway                   Western Europe               4
 4        Finland                   Western Europe               5
 ..           ...                              ...             ...
 152        Benin               Sub-Saharan Africa             153
 153  Afghanistan                    Southern Asia             154
 154         Togo               Sub-Saharan Africa             155
 155        Syria  Middle East and Northern Africa             156
 156      Burundi               Sub-Saharan Africa             157

      Happiness Score  Lower Confidence Interval  Upper Confidence Interval  \
 0              7.526                      7.460                      7.592
 1              7.509                      7.428                      7.590
 2              7.501                      7.333                      7.669
 3              7.498                      7.421                      7.575
 4              7.413                      7.351                      7.475
 ..               ...                        ...                        ...
 152            3.484                      3.404                      3.564
 153            3.360                      3.288                      3.432
 154            3.303                      3.192                      3.414
 155            3.069                      2.936                      3.202
 156            2.905                      2.732                      3.078

      Economy (GDP per Capita)   Family  Health (Life Expectancy)  Freedom  \
 0                     1.44178  1.16374                   0.79504  0.57941
 1                     1.52733  1.14524                   0.86303  0.58557
 2                     1.42666  1.18326                   0.86733  0.56624
 3                     1.57744  1.12690                   0.79579  0.59609
 4                     1.40598  1.13464                   0.81091  0.57104
 ..                        ...      ...                       ...      ...
 152                   0.39499  0.10419                   0.21028  0.39747
 153                   0.38227  0.11037                   0.17344  0.16430
 154                   0.28123  0.00000                   0.24811  0.34678
 155                   0.74719  0.14866                   0.62994  0.06912
 156                   0.06831  0.23442                   0.15747  0.04320

      Trust (Government Corruption)  Generosity  Dystopia Residual  year
 0                          0.44453     0.36171            2.73939  2016
 1                          0.41203     0.28083            2.69463  2016
 2                          0.14975     0.47678            2.83137  2016
 3                          0.35776     0.37895            2.66465  2016
 4                          0.41004     0.25492            2.82596  2016
 ..                             ...         ...                ...   ...
 152                        0.06681     0.20180            2.10812  2016
 153                        0.07112     0.31268            2.14558  2016
 154                        0.11587     0.17517            2.13540  2016
 155                        0.17233     0.48397            0.81789  2016
 156                        0.09419     0.20290            2.10404  2016

 [157 rows x 14 columns],
                       Country  Happiness.Rank  Happiness.Score  Whisker.high  \
 0                      Norway               1            7.537      7.594445
 1                     Denmark               2            7.522      7.581728
 2                     Iceland               3            7.504      7.622030
 3                 Switzerland               4            7.494      7.561772
 4                     Finland               5            7.469      7.527542
 ..                        ...             ...              ...           ...
 150                    Rwanda             151            3.471      3.543030
 151                     Syria             152            3.462      3.663669
 152                  Tanzania             153            3.349      3.461430
 153                   Burundi             154            2.905      3.074690
 154  Central African Republic             155            2.693      2.864884

      Whisker.low  Economy..GDP.per.Capita.    Family  \
 0       7.479556                  1.616463  1.533524
 1       7.462272                  1.482383  1.551122
 2       7.385970                  1.480633  1.610574
 3       7.426227                  1.564980  1.516912
 4       7.410458                  1.443572  1.540247
 ..           ...                       ...       ...
 150     3.398970                  0.368746  0.945707
 151     3.260331                  0.777153  0.396103
 152     3.236570                  0.511136  1.041990
 153     2.735310                  0.091623  0.629794
 154     2.521116                  0.000000  0.000000

      Health..Life.Expectancy.   Freedom  Generosity  \
 0                    0.796667  0.635423    0.362012
 1                    0.792566  0.626007    0.355280
 2                    0.833552  0.627163    0.475540
 3                    0.858131  0.620071    0.290549
 4                    0.809158  0.617951    0.245483
 ..                        ...       ...         ...
 150                  0.326425  0.581844    0.252756
 151                  0.500533  0.081539    0.493664
 152                  0.364509  0.390018    0.354256
 153                  0.151611  0.059901    0.204435
 154                  0.018773  0.270842    0.280876

      Trust..Government.Corruption.  Dystopia.Residual  year
 0                         0.315964           2.277027  2017
 1                         0.400770           2.313707  2017
 2                         0.153527           2.322715  2017
 3                         0.367007           2.276716  2017
 4                         0.382612           2.430182  2017
 ..                             ...                ...   ...
 150                       0.455220           0.540061  2017
 151                       0.151347           1.061574  2017
 152                       0.066035           0.621130  2017
 153                       0.084148           1.683024  2017
 154                       0.056565           2.066005  2017

 [155 rows x 13 columns],
      Overall rank         Country or region  Score  GDP per capita  \
 0               1                   Finland  7.632           1.305
 1               2                    Norway  7.594           1.456
 2               3                   Denmark  7.555           1.351
 3               4                   Iceland  7.495           1.343
 4               5               Switzerland  7.487           1.420
 ..            ...                       ...    ...             ...
 151           152                     Yemen  3.355           0.442
 152           153                  Tanzania  3.303           0.455
 153           154               South Sudan  3.254           0.337
 154           155  Central African Republic  3.083           0.024
 155           156                   Burundi  2.905           0.091

      Social support  Healthy life expectancy  Freedom to make life choices  \
 0             1.592                    0.874                         0.681
 1             1.582                    0.861                         0.686
 2             1.590                    0.868                         0.683
 3             1.644                    0.914                         0.677
 4             1.549                    0.927                         0.660
 ..              ...                      ...                           ...
 151           1.073                    0.343                         0.244
 152           0.991                    0.381                         0.481
 153           0.608                    0.177                         0.112
 154           0.000                    0.010                         0.305
 155           0.627                    0.145                         0.065

      Generosity  Perceptions of corruption  year
 0         0.202                      0.393  2018
 1         0.286                      0.340  2018
 2         0.284                      0.408  2018
 3         0.353                      0.138  2018
 4         0.256                      0.357  2018
 ..          ...                        ...   ...
 151       0.083                      0.064  2018
 152       0.270                      0.097  2018
 153       0.224                      0.106  2018
 154       0.218                      0.038  2018
 155       0.149                      0.076  2018

 [156 rows x 10 columns],
      Overall rank         Country or region  Score  GDP per capita  \
 0               1                   Finland  7.769           1.340
 1               2                   Denmark  7.600           1.383
 2               3                    Norway  7.554           1.488
 3               4                   Iceland  7.494           1.380
 4               5               Netherlands  7.488           1.396
 ..            ...                       ...    ...             ...
 151           152                    Rwanda  3.334           0.359
 152           153                  Tanzania  3.231           0.476
 153           154               Afghanistan  3.203           0.350
 154           155  Central African Republic  3.083           0.026
 155           156               South Sudan  2.853           0.306

      Social support  Healthy life expectancy  Freedom to make life choices  \
 0             1.587                    0.986                         0.596
 1             1.573                    0.996                         0.592
 2             1.582                    1.028                         0.603
 3             1.624                    1.026                         0.591
 4             1.522                    0.999                         0.557
 ..              ...                      ...                           ...
 151           0.711                    0.614                         0.555
 152           0.885                    0.499                         0.417
 153           0.517                    0.361                         0.000
 154           0.000                    0.105                         0.225
 155           0.575                    0.295                         0.010

      Generosity  Perceptions of corruption  year
 0         0.153                      0.393  2019
 1         0.252                      0.410  2019
 2         0.271                      0.341  2019
 3         0.354                      0.118  2019
 4         0.322                      0.298  2019
 ..          ...                        ...   ...
 151       0.217                      0.411  2019
 152       0.276                      0.147  2019
 153       0.158                      0.025  2019
 154       0.235                      0.035  2019
 155       0.202                      0.091  2019

 [156 rows x 10 columns]]

In [4]:
df.tail()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),...,Trust..Government.Corruption.,Dystopia.Residual,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption
777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,152.0,Rwanda,3.334,0.359,0.711,0.614,0.555,0.411
778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,153.0,Tanzania,3.231,0.476,0.885,0.499,0.417,0.147
779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,154.0,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.025
780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,155.0,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.035
781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,156.0,South Sudan,2.853,0.306,0.575,0.295,0.010,0.091

In [44]:
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),...,Trust..Government.Corruption.,Dystopia.Residual,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption
0,Switzerland,Western Europe,1.0,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iceland,Western Europe,2.0,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Denmark,Western Europe,3.0,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Norway,Western Europe,4.0,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Canada,North America,5.0,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,152.0,Rwanda,3.334,0.359,0.711,0.614,0.555,0.411
778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,153.0,Tanzania,3.231,0.476,0.885,0.499,0.417,0.147
779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,154.0,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.025
780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,155.0,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.035
781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,156.0,South Sudan,2.853,0.306,0.575,0.295,0.010,0.091

In [5]:
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),...,Trust..Government.Corruption.,Dystopia.Residual,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption
0,Switzerland,Western Europe,1.0,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iceland,Western Europe,2.0,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Denmark,Western Europe,3.0,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Norway,Western Europe,4.0,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Canada,North America,5.0,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.shape

(782, 31)

In [7]:
df['year'] == '2015'

0       True
1       True
2       True
3       True
4       True
       ...
777    False
778    False
779    False
780    False
781    False
Name: year, Length: 782, dtype: bool

In [8]:
df.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual', 'year', 'Lower Confidence Interval',
       'Upper Confidence Interval', 'Happiness.Rank', 'Happiness.Score',
       'Whisker.high', 'Whisker.low', 'Economy..GDP.per.Capita.',
       'Health..Life.Expectancy.', 'Trust..Government.Corruption.',
       'Dystopia.Residual', 'Overall rank', 'Country or region', 'Score',
       'GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Perceptions of corruption'],
      dtype='object')

In [9]:
df.describe()

,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,...,Health..Life.Expectancy.,Trust..Government.Corruption.,Dystopia.Residual,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption
count,315.000000,315.000000,158.000000,315.000000,470.000000,315.000000,470.000000,315.000000,782.000000,315.000000,...,155.000000,155.000000,155.000000,312.000000,312.000000,312.000000,312.000000,312.000000,312.000000,311.000000
mean,79.238095,5.378949,0.047885,0.899837,0.990347,0.594054,0.402828,0.140532,0.218576,2.212032,...,0.551341,0.123120,1.850238,78.500000,5.391506,0.898298,1.211026,0.661295,0.423538,0.111299
std,45.538922,1.141531,0.017146,0.410780,0.318707,0.240790,0.150356,0.115490,0.122321,0.558728,...,0.237073,0.101661,0.500028,45.104737,1.114631,0.394592,0.300310,0.252724,0.156024,0.095365
min,1.000000,2.839000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580,...,0.000000,0.000000,0.377914,1.000000,2.853000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,40.000000,4.510000,0.037268,0.594900,0.793000,0.419645,0.297615,0.061315,0.130000,1.884135,...,0.369866,0.057271,1.591291,39.750000,4.514250,0.609500,1.055750,0.488250,0.322500,0.050000
50%,79.000000,5.286000,0.043940,0.973060,1.025665,0.640450,0.418347,0.106130,0.201982,2.211260,...,0.606042,0.089848,1.832910,78.500000,5.379500,0.960000,1.265500,0.699000,0.449500,0.082000
75%,118.500000,6.269000,0.052300,1.229000,1.228745,0.787640,0.516850,0.178610,0.278832,2.563470,...,0.723008,0.153296,2.144654,117.250000,6.176000,1.219500,1.457500,0.858000,0.540250,0.140500
max,158.000000,7.587000,0.136930,1.824270,1.610574,1.025250,0.669730,0.551910,0.838075,3.837720,...,0.949492,0.464308,3.117485,156.000000,7.769000,2.096000,1.644000,1.141000,0.724000,0.457000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        470 non-null    object
 1   Region                         315 non-null    object
 2   Happiness Rank                 315 non-null    float64
 3   Happiness Score                315 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       315 non-null    float64
 6   Family                         470 non-null    float64
 7   Health (Life Expectancy)       315 non-null    float64
 8   Freedom                        470 non-null    float64
 9   Trust (Government Corruption)  315 non-null    float64
 10  Generosity                     782 non-null    float64
 11  Dystopia Residual              315 non-null    float64
 12  year                           782 non-null    object
 13  Lower Confidence Interval      157 non-null    float64
 14  Upper Confidence Interval      157 non-null    float64
 15  Happiness.Rank                 155 non-null    float64
 16  Happiness.Score                155 non-null    float64
 17  Whisker.high                   155 non-null    float64
 18  Whisker.low                    155 non-null    float64
 19  Economy..GDP.per.Capita.       155 non-null    float64
 20  Health..Life.Expectancy.       155 non-null    float64
 21  Trust..Government.Corruption.  155 non-null    float64
 22  Dystopia.Residual              155 non-null    float64
 23  Overall rank                   312 non-null    float64
 24  Country or region              312 non-null    object
 25  Score                          312 non-null    float64
 26  GDP per capita                 312 non-null    float64
 27  Social support                 312 non-null    float64
 28  Healthy life expectancy        312 non-null    float64
 29  Freedom to make life choices   312 non-null    float64
 30  Perceptions of corruption      311 non-null    float64
dtypes: float64(27), object(4)
memory usage: 189.5+ KB

In [11]:
df.isnull()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),...,Trust..Government.Corruption.,Dystopia.Residual,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption
0,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,True,True,True,True,True,True,True,True,True,True,...,True,True,False,False,False,False,False,False,False,False
778,True,True,True,True,True,True,True,True,True,True,...,True,True,False,False,False,False,False,False,False,False
779,True,True,True,True,True,True,True,True,True,True,...,True,True,False,False,False,False,False,False,False,False
780,True,True,True,True,True,True,True,True,True,True,...,True,True,False,False,False,False,False,False,False,False
781,True,True,True,True,True,True,True,True,True,True,...,True,True,False,False,False,False,False,False,False,False

In [12]:
df.isnull().sum()

Country                          312
Region                           467
Happiness Rank                   467
Happiness Score                  467
Standard Error                   624
Economy (GDP per Capita)         467
Family                           312
Health (Life Expectancy)         467
Freedom                          312
Trust (Government Corruption)    467
Generosity                         0
Dystopia Residual                467
year                               0
Lower Confidence Interval        625
Upper Confidence Interval        625
Happiness.Rank                   627
Happiness.Score                  627
Whisker.high                     627
Whisker.low                      627
Economy..GDP.per.Capita.         627
Health..Life.Expectancy.         627
Trust..Government.Corruption.    627
Dystopia.Residual                627
Overall rank                     470
Country or region                470
Score                            470
GDP per capita                   470
Social support                   470
Healthy life expectancy          470
Freedom to make life choices     470
Perceptions of corruption        471
dtype: int64

In [13]:
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),...,Trust..Government.Corruption.,Dystopia.Residual,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption
0,Switzerland,Western Europe,1.0,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iceland,Western Europe,2.0,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Denmark,Western Europe,3.0,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Norway,Western Europe,4.0,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Canada,North America,5.0,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:

# Sample list of original columns
original_columns = [
    'Country', 'Region', 'Happiness Rank', 'Happiness Score',
    'Standard Error', 'Economy (GDP per Capita)', 'Family',
    'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
    'Generosity', 'Dystopia Residual', 'year', 'Lower Confidence Interval',
    'Upper Confidence Interval', 'Happiness.Rank', 'Happiness.Score',
    'Whisker.high', 'Whisker.low', 'Economy..GDP.per.Capita.',
    'Health..Life.Expectancy.', 'Trust..Government.Corruption.',
    'Dystopia.Residual', 'Overall rank', 'Country or region', 'Score',
    'GDP per capita', 'Social support', 'Healthy life expectancy',
    'Freedom to make life choices', 'Perceptions of corruption'
]

In [15]:
# Canonical mapping dictionary
canonical_map = {
    'Country': 'country',
    'Country or region': 'country',
    'Region': 'region',
    'Happiness Rank': 'happiness_rank',
    'Overall rank': 'happiness_rank',
    'Happiness Score': 'happiness_score',
    'Happiness.Score': 'happiness_score',
    'Score': 'happiness_score',
    'Standard Error': 'standard_error',
    'Economy (GDP per Capita)': 'log_gdp_per_capita',
    'Economy..GDP.per.Capita.': 'log_gdp_per_capita',
    'GDP per capita': 'log_gdp_per_capita',
    'Family': 'family',
    'Social support': 'social_support',
    'Health (Life Expectancy)': 'healthy_life_expectancy',
    'Health..Life.Expectancy.': 'healthy_life_expectancy',
    'Healthy life expectancy': 'healthy_life_expectancy',
    'Freedom': 'freedom',
    'Freedom to make life choices': 'freedom',
    'Trust (Government Corruption)': 'perceptions_of_corruption',
    'Trust..Government.Corruption.': 'perceptions_of_corruption',
    'Perceptions of corruption': 'perceptions_of_corruption',
    'Generosity': 'generosity',
    'Dystopia Residual': 'dystopia_residual',
    'Dystopia.Residual': 'dystopia_residual',
    'Whisker.high': 'whisker_high',
    'Whisker.low': 'whisker_low',
    'Lower Confidence Interval': 'lower_confidence_interval',
    'Upper Confidence Interval': 'upper_confidence_interval',
    'year': 'year'
}

In [83]:
def standardize_column_names(df):
    return df.rename(columns=lambda col:canonical_map.get(col, col.strip().lower().replace(" ", "_").replace(".","_")))

In [84]:
df_modified = standardize_column_names(df)

In [86]:
df_modified.head()

,country,region,happiness_rank,happiness_score,standard_error,log_gdp_per_capita,family,healthy_life_expectancy,freedom,perceptions_of_corruption,...,perceptions_of_corruption,dystopia_residual,happiness_rank,country,happiness_score,log_gdp_per_capita,social_support,healthy_life_expectancy,freedom,perceptions_of_corruption
0,Switzerland,Western Europe,1.0,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iceland,Western Europe,2.0,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Denmark,Western Europe,3.0,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Norway,Western Europe,4.0,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Canada,North America,5.0,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
str_cols = df_modified.select_dtypes(include="object").columns
print(str_cols)
for col in str_cols:
    new_cols = []
    for c in df_modified[col]:
        str_col = str(c)
        str_col = str_col.strip().replace("nan","").replace("None","")
        print(str_col)
        print(type(str_col))
        new_cols.append(str_col)
    # df_modified[col] = new_cols

df_modified.head()

Index(['country', 'region', 'year', 'country'], dtype='object')
country
<class 'str'>
country
<class 'str'>
Western Europe
<class 'str'>
Western Europe
<class 'str'>
Western Europe
<class 'str'>
Western Europe
<class 'str'>
North America
<class 'str'>
Western Europe
<class 'str'>
Western Europe
<class 'str'>
Western Europe
<class 'str'>
Australia and New Zealand
<class 'str'>
Australia and New Zealand
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Latin America and Caribbean
<class 'str'>
Western Europe
<class 'str'>
Latin America and Caribbean
<class 'str'>
North America
<class 'str'>
Latin America and Caribbean
<class 'str'>
Western Europe
<class 'str'>
Western Europe
<class 'str'>
Western Europe
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Western Europe
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Latin America and Caribbean
<class 'str'>
Southeastern Asia
<class 'str'>
Latin America and Caribbean
<class 'str'>
Western Europe
<class 'str'>
Latin America and Caribbean
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Western Europe
<class 'str'>
Latin America and Caribbean
<class 'str'>
Central and Eastern Europe
<class 'str'>
Latin America and Caribbean
<class 'str'>
Latin America and Caribbean
<class 'str'>
Southeastern Asia
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Western Europe
<class 'str'>
Western Europe
<class 'str'>
Eastern Asia
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Latin America and Caribbean
<class 'str'>
Latin America and Caribbean
<class 'str'>
Latin America and Caribbean
<class 'str'>
Latin America and Caribbean
<class 'str'>
Central and Eastern Europe
<class 'str'>
Central and Eastern Europe
<class 'str'>
Eastern Asia
<class 'str'>
Eastern Asia
<class 'str'>
Latin America and Caribbean
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Western Europe
<class 'str'>
Latin America and Caribbean
<class 'str'>
Central and Eastern Europe
<class 'str'>
Latin America and Caribbean
<class 'str'>
Central and Eastern Europe
<class 'str'>
Central and Eastern Europe
<class 'str'>
Central and Eastern Europe
<class 'str'>
Latin America and Caribbean
<class 'str'>
Latin America and Caribbean
<class 'str'>
Central and Eastern Europe
<class 'str'>
Central and Eastern Europe
<class 'str'>
Southeastern Asia
<class 'str'>
Central and Eastern Europe
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Central and Eastern Europe
<class 'str'>
Latin America and Caribbean
<class 'str'>
Western Europe
<class 'str'>
Western Europe
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Central and Eastern Europe
<class 'str'>
Central and Eastern Europe
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Eastern Asia
<class 'str'>
Central and Eastern Europe
<class 'str'>
Southeastern Asia
<class 'str'>
Southeastern Asia
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Central and Eastern Europe
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Southern Asia
<class 'str'>
Central and Eastern Europe
<class 'str'>
Southern Asia
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Central and Eastern Europe
<class 'str'>
Eastern Asia
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Central and Eastern Europe
<class 'str'>
Central and Eastern Europe
<class 'str'>
Western Europe
<class 'str'>
Central and Eastern Europe
<class 'str'>
Southeastern Asia
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Central and Eastern Europe
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Central and Eastern Europe
<class 'str'>
Central and Eastern Europe
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Latin America and Caribbean
<class 'str'>
Southeastern Asia
<class 'str'>
Eastern Asia
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Western Europe
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Central and Eastern Europe
<class 'str'>
Latin America and Caribbean
<class 'str'>
Central and Eastern Europe
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Southern Asia
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Central and Eastern Europe
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Southern Asia
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Latin America and Caribbean
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Southern Asia
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Central and Eastern Europe
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Southeastern Asia
<class 'str'>
Central and Eastern Europe
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Southern Asia
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Central and Eastern Europe
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Southeastern Asia
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Southern Asia
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Western Europe
<class 'str'>
Western Europe
<class 'str'>
Western Europe
<class 'str'>
Western Europe
<class 'str'>
Western Europe
<class 'str'>
North America
<class 'str'>
Western Europe
<class 'str'>
Australia and New Zealand
<class 'str'>
Australia and New Zealand
<class 'str'>
Western Europe
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Western Europe
<class 'str'>
North America
<class 'str'>
Latin America and Caribbean
<class 'str'>
Latin America and Caribbean
<class 'str'>
Western Europe
<class 'str'>
Latin America and Caribbean
<class 'str'>
Western Europe
<class 'str'>
Western Europe
<class 'str'>
Western Europe
<class 'str'>
Latin America and Caribbean
<class 'str'>
Southeastern Asia
<class 'str'>
Western Europe
<class 'str'>
Latin America and Caribbean
<class 'str'>
Latin America and Caribbean
<class 'str'>
Latin America and Caribbean
<class 'str'>
Central and Eastern Europe
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Latin America and Caribbean
<class 'str'>
Western Europe
<class 'str'>
Latin America and Caribbean
<class 'str'>
Western Europe
<class 'str'>
Southeastern Asia
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Eastern Asia
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Western Europe
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Latin America and Caribbean
<class 'str'>
Latin America and Caribbean
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Latin America and Caribbean
<class 'str'>
Latin America and Caribbean
<class 'str'>
Central and Eastern Europe
<class 'str'>
Latin America and Caribbean
<class 'str'>
Southeastern Asia
<class 'str'>
Latin America and Caribbean
<class 'str'>
Central and Eastern Europe
<class 'str'>
Western Europe
<class 'str'>
Latin America and Caribbean
<class 'str'>
Latin America and Caribbean
<class 'str'>
Eastern Asia
<class 'str'>
Central and Eastern Europe
<class 'str'>
Central and Eastern Europe
<class 'str'>
Central and Eastern Europe
<class 'str'>
Central and Eastern Europe
<class 'str'>
Eastern Asia
<class 'str'>
Latin America and Caribbean
<class 'str'>
Central and Eastern Europe
<class 'str'>
Central and Eastern Europe
<class 'str'>
Western Europe
<class 'str'>
Central and Eastern Europe
<class 'str'>
Latin America and Caribbean
<class 'str'>
Central and Eastern Europe
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Central and Eastern Europe
<class 'str'>
Western Europe
<class 'str'>
Latin America and Caribbean
<class 'str'>
Central and Eastern Europe
<class 'str'>
Central and Eastern Europe
<class 'str'>
Latin America and Caribbean
<class 'str'>
Central and Eastern Europe
<class 'str'>
Eastern Asia
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Central and Eastern Europe
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Southeastern Asia
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Central and Eastern Europe
<class 'str'>
Southeastern Asia
<class 'str'>
Eastern Asia
<class 'str'>
Southern Asia
<class 'str'>
Central and Eastern Europe
<class 'str'>
Central and Eastern Europe
<class 'str'>
Central and Eastern Europe
<class 'str'>
Central and Eastern Europe
<class 'str'>
Latin America and Caribbean
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Central and Eastern Europe
<class 'str'>
Southern Asia
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Western Europe
<class 'str'>
Central and Eastern Europe
<class 'str'>
Southeastern Asia
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Western Europe
<class 'str'>
Central and Eastern Europe
<class 'str'>
Eastern Asia
<class 'str'>
Southeastern Asia
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Latin America and Caribbean
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Southern Asia
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Central and Eastern Europe
<class 'str'>
Southern Asia
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Southern Asia
<class 'str'>
Southern Asia
<class 'str'>
Southeastern Asia
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Central and Eastern Europe
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Central and Eastern Europe
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Central and Eastern Europe
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Central and Eastern Europe
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Latin America and Caribbean
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Southeastern Asia
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Southern Asia
<class 'str'>
Sub-Saharan Africa
<class 'str'>
Middle East and Northern Africa
<class 'str'>
Sub-Saharan Africa
<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>

<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>
2015
<class 'str'>

,country,region,happiness_rank,happiness_score,standard_error,log_gdp_per_capita,family,healthy_life_expectancy,freedom,perceptions_of_corruption,...,perceptions_of_corruption,dystopia_residual,happiness_rank,country,happiness_score,log_gdp_per_capita,social_support,healthy_life_expectancy,freedom,perceptions_of_corruption
0,Switzerland,Western Europe,1.0,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iceland,Western Europe,2.0,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Denmark,Western Europe,3.0,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Norway,Western Europe,4.0,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Canada,North America,5.0,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
df.head(60)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),...,Trust..Government.Corruption.,Dystopia.Residual,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption
0,Switzerland,Western Europe,1.0,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iceland,Western Europe,2.0,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Denmark,Western Europe,3.0,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Norway,Western Europe,4.0,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Canada,North America,5.0,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Finland,Western Europe,6.0,7.406,0.03140,1.29025,1.31826,0.88911,0.64169,0.41372,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Netherlands,Western Europe,7.0,7.378,0.02799,1.32944,1.28017,0.89284,0.61576,0.31814,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Sweden,Western Europe,8.0,7.364,0.03157,1.33171,1.28907,0.91087,0.65980,0.43844,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,New Zealand,Australia and New Zealand,9.0,7.286,0.03371,1.25018,1.31967,0.90837,0.63938,0.42922,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Australia,Australia and New Zealand,10.0,7.284,0.04083,1.33358,1.30923,0.93156,0.65124,0.35637,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Israel,Middle East and Northern Africa,11.0,7.278,0.03470,1.22857,1.22393,0.91387,0.41319,0.07785,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Costa Rica,Latin America and Caribbean,12.0,7.226,0.04454,0.95578,1.23788,0.86027,0.63376,0.10583,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Austria,Western Europe,13.0,7.200,0.03751,1.33723,1.29704,0.89042,0.62433,0.18676,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Mexico,Latin America and Caribbean,14.0,7.187,0.04176,1.02054,0.91451,0.81444,0.48181,0.21312,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,United States,North America,15.0,7.119,0.03839,1.39451,1.24711,0.86179,0.54604,0.15890,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Brazil,Latin America and Caribbean,16.0,6.983,0.04076,0.98124,1.23287,0.69702,0.49049,0.17521,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Luxembourg,Western Europe,17.0,6.946,0.03499,1.56391,1.21963,0.91894,0.61583,0.37798,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Ireland,Western Europe,18.0,6.940,0.03676,1.33596,1.36948,0.89533,0.61777,0.28703,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Belgium,Western Europe,19.0,6.937,0.03595,1.30782,1.28566,0.89667,0.58450,0.22540,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,United Arab Emirates,Middle East and Northern Africa,20.0,6.901,0.03729,1.42727,1.12575,0.80925,0.64157,0.38583,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,United Kingdom,Western Europe,21.0,6.867,0.01866,1.26637,1.28548,0.90943,0.59625,0.32067,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Oman,Middle East and Northern Africa,22.0,6.853,0.05335,1.36011,1.08182,0.76276,0.63274,0.32524,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Venezuela,Latin America and Caribbean,23.0,6.810,0.06476,1.04424,1.25596,0.72052,0.42908,0.11069,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Singapore,Southeastern Asia,24.0,6.798,0.03780,1.52186,1.02000,1.02525,0.54252,0.49210,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Panama,Latin America and Caribbean,25.0,6.786,0.04910,1.06353,1.19850,0.79661,0.54210,0.09270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Germany,Western Europe,26.0,6.750,0.01848,1.32792,1.29937,0.89186,0.61477,0.21843,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Chile,Latin America and Caribbean,27.0,6.670,0.05800,1.10715,1.12447,0.85857,0.44132,0.12869,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Qatar,Middle East and Northern Africa,28.0,6.611,0.06257,1.69042,1.07860,0.79733,0.64040,0.52208,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,France,Western Europe,29.0,6.575,0.03512,1.27778,1.26038,0.94579,0.55011,0.20646,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Argentina,Latin America and Caribbean,30.0,6.574,0.04612,1.05351,1.24823,0.78723,0.44974,0.08484,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Czech Republic,Central and Eastern Europe,31.0,6.505,0.04168,1.17898,1.20643,0.84483,0.46364,0.02652,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Uruguay,Latin America and Caribbean,32.0,6.485,0.04539,1.06166,1.20890,0.81160,0.60362,0.24558,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Colombia,Latin America and Caribbean,33.0,6.477,0.05051,0.91861,1.24018,0.69077,0.53466,0.05120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Thailand,Southeastern Asia,34.0,6.455,0.03557,0.96690,1.26504,0.73850,0.55664,0.03187,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Saudi Arabia,Middle East and Northern Africa,35.0,6.411,0.04633,1.39541,1.08393,0.72025,0.31048,0.32524,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Spain,Western Europe,36.0,6.329,0.03468,1.23011,1.31379,0.95562,0.45951,0.06398,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Malta,Western Europe,37.0,6.302,0.04206,1.20740,1.30203,0.88721,0.60365,0.13586,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Taiwan,Eastern Asia,38.0,6.298,0.03868,1.29098,1.07617,0.87530,0.39740,0.08129,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Kuwait,Middle East and Northern Africa,39.0,6.295,0.04456,1.55422,1.16594,0.72492,0.55499,0.25609,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Suriname,Latin America and Caribbean,40.0,6.269,0.09811,0.99534,0.97200,0.60820,0.59657,0.13633,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Trinidad and Tobago,Latin America and Caribbean,41.0,6.168,0.10895,1.21183,1.18354,0.61483,0.55884,0.01140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,El Salvador,Latin America and Caribbean,42.0,6.130,0.05618,0.76454,1.02507,0.67737,0.40350,0.11776,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Guatemala,Latin America and Caribbean,43.0,6.123,0.05224,0.74553,1.04356,0.64425,0.57733,0.09472,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Uzbekistan,Central and Eastern Europe,44.0,6.003,0.04361,0.63244,1.34043,0.59772,0.65821,0.30826,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Slovakia,Central and Eastern Europe,45.0,5.995,0.04267,1.16891,1.26999,0.78902,0.31751,0.03431,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Japan,Eastern Asia,46.0,5.987,0.03581,1.27074,1.25712,0.99111,0.49615,0.18060,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,South Korea,Eastern Asia,47.0,5.984,0.04098,1.24461,0.95774,0.96538,0.33208,0.07857,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Ecuador,Latin America and Caribbean,48.0,5.975,0.04528,0.86402,0.99903,0.79075,0.48574,0.18090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Bahrain,Middle East and Northern Africa,49.0,5.960,0.05412,1.32376,1.21624,0.74716,0.45492,0.30600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Italy,Western Europe,50.0,5.948,0.03914,1.25114,1.19777,0.95446,0.26236,0.02901,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,Bolivia,Latin America and Caribbean,51.0,5.890,0.05642,0.68133,0.97841,0.53920,0.57414,0.08800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Moldova,Central and Eastern Europe,52.0,5.889,0.03799,0.59448,1.01528,0.61826,0.32818,0.01615,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,Paraguay,Latin America and Caribbean,53.0,5.878,0.04563,0.75985,1.30477,0.66098,0.53899,0.08242,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Kazakhstan,Central and Eastern Europe,54.0,5.855,0.04114,1.12254,1.12241,0.64368,0.51649,0.08454,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Slovenia,Central and Eastern Europe,55.0,5.848,0.04251,1.18498,1.27385,0.87337,0.60855,0.03787,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,Lithuania,Central and Eastern Europe,56.0,5.833,0.03843,1.14723,1.25745,0.73128,0.21342,0.01031,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,Nicaragua,Latin America and Caribbean,57.0,5.828,0.05371,0.59325,1.14184,0.74314,0.55475,0.19317,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,Peru,Latin America and Caribbean,58.0,5.824,0.04615,0.90019,0.97459,0.73017,0.41496,0.05989,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,Belarus,Central and Eastern Europe,59.0,5.813,0.03938,1.03192,1.23289,0.73608,0.37938,0.19090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Poland,Central and Eastern Europe,60.0,5.791,0.04263,1.12555,1.27948,0.77903,0.53122,0.04212,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
str_cols = df_modified.select_dtypes(include="object").columns
for c in str_cols:
        df_modified[c] = df_modified[c].astype(str).str.strip().replace({"nan":"", "None":""})

AttributeError: 'DataFrame' object has no attribute 'str'

In [39]:
df_modified.head()

,country,region,happiness_rank,happiness_score,standard_error,log_gdp_per_capita,family,healthy_life_expectancy,freedom,perceptions_of_corruption,...,perceptions_of_corruption,dystopia_residual,happiness_rank,country,happiness_score,log_gdp_per_capita,social_support,healthy_life_expectancy,freedom,perceptions_of_corruption
0,Switzerland,Western Europe,1.0,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iceland,Western Europe,2.0,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Denmark,Western Europe,3.0,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Norway,Western Europe,4.0,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Canada,North America,5.0,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),...,Trust..Government.Corruption.,Dystopia.Residual,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption
0,Switzerland,Western Europe,1.0,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iceland,Western Europe,2.0,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Denmark,Western Europe,3.0,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Norway,Western Europe,4.0,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Canada,North America,5.0,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,152.0,Rwanda,3.334,0.359,0.711,0.614,0.555,0.411
778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,153.0,Tanzania,3.231,0.476,0.885,0.499,0.417,0.147
779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,154.0,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.025
780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,155.0,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.035
781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,156.0,South Sudan,2.853,0.306,0.575,0.295,0.010,0.091

In [25]:
print('string columns: ', string_columns)

NameError: name 'string_columns' is not defined

In [46]:
df.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual', 'year', 'Lower Confidence Interval',
       'Upper Confidence Interval', 'Happiness.Rank', 'Happiness.Score',
       'Whisker.high', 'Whisker.low', 'Economy..GDP.per.Capita.',
       'Health..Life.Expectancy.', 'Trust..Government.Corruption.',
       'Dystopia.Residual', 'Overall rank', 'Country or region', 'Score',
       'GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Perceptions of corruption'],
      dtype='object')

In [47]:
df_modified.columns

Index(['country', 'region', 'happiness_rank', 'happiness_score',
       'standard_error', 'log_gdp_per_capita', 'family',
       'healthy_life_expectancy', 'freedom', 'perceptions_of_corruption',
       'generosity', 'dystopia_residual', 'year', 'lower_confidence_interval',
       'upper_confidence_interval', 'happiness_rank', 'happiness_score',
       'whisker_high', 'whisker_low', 'log_gdp_per_capita',
       'healthy_life_expectancy', 'perceptions_of_corruption',
       'dystopia_residual', 'happiness_rank', 'country', 'happiness_score',
       'log_gdp_per_capita', 'social_support', 'healthy_life_expectancy',
       'freedom', 'perceptions_of_corruption'],
      dtype='object')