In [13]:
import pandas as pd

df = pd.DataFrame({
    "Country": ["A", "B", "C"],
    "Year": ["2021", "2022", "2023"],  # should be int
    "GDP": ["12,345", "15,200", "N/A"]  # commas & missing values
})

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  3 non-null      object
 1   Year     3 non-null      object
 2   GDP      3 non-null      object
dtypes: object(3)
memory usage: 204.0+ bytes

In [15]:
df

  Country  Year     GDP
0       A  2021  12,345
1       B  2022  15,200
2       C  2023     N/A

In [16]:
df['GDP'] = (df['GDP'].replace({"N/A":None, ",":""}, regex=True).astype(float))

In [17]:
df['Year'] = df['Year'].astype(int)

In [18]:
df['GDP'].mean()

np.float64(13772.5)

In [19]:
df

  Country  Year      GDP
0       A  2021  12345.0
1       B  2022  15200.0
2       C  2023      NaN

In [20]:
df['GDP'] = df['GDP'].ffill(axis=0)

In [21]:
df

  Country  Year      GDP
0       A  2021  12345.0
1       B  2022  15200.0
2       C  2023  15200.0

In [8]:
df.select_dtypes(include='object')

  Country
0       A
1       B
2       C

In [9]:
import pandas as pd

df = pd.DataFrame({
    'country': ['Norway', 'Denmark', 'Finland'],
    'rank': [1, 2, 3]
})

In [12]:
df.iloc[:,:]

   country  rank
0   Norway     1
1  Denmark     2
2  Finland     3

In [1]:
def addNumbers(num1, num2):
    return num1 + num2

In [2]:
a = 1
b = 2

print(addNumbers(a,b))

3