In [1]:
import pandas as pd

df = pd.DataFrame({
    "Country": ["A", "B", "C"],
    "Year": ["2021", "2022", "2023"],  # should be int
    "GDP": ["12,345", "15,200", "N/A"]  # commas & missing values
})

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  3 non-null      object
 1   Year     3 non-null      object
 2   GDP      3 non-null      object
dtypes: object(3)
memory usage: 204.0+ bytes

In [7]:
df

  Country  Year     GDP
0       A  2021  12,345
1       B  2022  15,200
2       C  2023     N/A

In [10]:
df['GDP'] = (df['GDP'].replace({"N/A":None, ",":""}, regex=True).astype(float))

In [11]:
df['Year'] = df['Year'].astype(int)

In [12]:
df['GDP'].mean()

np.float64(13772.5)

In [13]:
df

  Country  Year      GDP
0       A  2021  12345.0
1       B  2022  15200.0
2       C  2023      NaN